/* ===================================================== BUTTONS ===================================================== */
input[type="submit"],
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active,
input[type="reset"],
input[type="reset"]:disabled:hover,
input[type="reset"]:disabled:active,
input[type="button"],
input[type="button"]:disabled:hover,
input[type="button"]:disabled:active,
input[type="submit"].grey,
input[type="submit"].grey:disabled:hover,
input[type="submit"].grey:disabled:active,
button[type="submit"].grey,
button[type="submit"].grey:disabled:hover,
button[type="submit"].grey:disabled:active,
button,
button:disabled:hover,
button:disabled:active,
.button,
.button.disabled:hover,
.button.disabled:active,
a.button[href=""],
a.button[href=""]:hover,
a.button[href=""]:active {
	height: 1em;
	padding: 0.5em 0.75em;
	display: inline-block;
	font-size: 1.3em;
	text-align: center;
	text-decoration: none;
	line-height: 1em;
	vertical-align: top;
	background: #F2F2F2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8));
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
	background: linear-gradient(to bottom, #f2f2f2 0%, #d8d8d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#D8D8D8',GradientType=0);
	border: 1px #CCC solid;
	border-radius: 3px;
	box-shadow: none;
	-webkit-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	-moz-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	-ms-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	-o-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	cursor: pointer;
}

input[type="submit"][class^="fa-"],
input[type="submit"][class*=" fa-"],
input[type="reset"][class^="fa-"],
input[type="reset"][class*=" fa-"],
input[type="button"][class^="fa-"],
input[type="button"][class*=" fa-"],
button[class^="fa-"],
button[class*=" fa-"],
.button[class^="fa-"],
.button[class*=" fa-"] {
	padding-left: 0.625em;
}

input.align-fa-right[type="submit"][class^="fa-"],
input.align-fa-right[type="submit"][class*=" fa-"],
input.align-fa-right[type="reset"][class^="fa-"],
input.align-fa-right[type="reset"][class*=" fa-"],
input.align-fa-right[type="button"][class^="fa-"],
input.align-fa-right[type="button"][class*=" fa-"],
button.align-fa-right[class^="fa-"],
button.align-fa-right[class*=" fa-"],
.button.align-fa-right[class^="fa-"],
.button.align-fa-right[class*=" fa-"] {
	padding-right: 0.625em;
	padding-left: 0.75em;
}

input[type="submit"][class^="fa-"]::before,
input[type="submit"][class*=" fa-"]::before,
input[type="reset"][class^="fa-"]::before,
input[type="reset"][class*=" fa-"]::before,
input[type="button"][class^="fa-"]::before,
input[type="button"][class*=" fa-"]::before,
button[class^="fa-"]::before,
button[class*=" fa-"]::before,
.button[class^="fa-"]::before,
.button[class*=" fa-"]::before {
	margin-right: 0.75em;
	margin-left: 0;
	vertical-align: top;
}

input.align-fa-right[type="submit"][class^="fa-"]::before,
input.align-fa-right[type="submit"][class*=" fa-"]::before,
input.align-fa-right[type="reset"][class^="fa-"]::before,
input.align-fa-right[type="reset"][class*=" fa-"]::before,
input.align-fa-right[type="button"][class^="fa-"]::before,
input.align-fa-right[type="button"][class*=" fa-"]::before,
button.align-fa-right[class^="fa-"]::before,
button.align-fa-right[class*=" fa-"]::before,
.button.align-fa-right[class^="fa-"]::before,
.button.align-fa-right[class*=" fa-"]::before {
	margin-right: 0;
	margin-left: 0.75em;
	float: right;
}

input[type="submit"][class^="fa-"]:empty,
input[type="submit"][class*=" fa-"]:empty,
input[type="reset"][class^="fa-"]:empty,
input[type="reset"][class*=" fa-"]:empty,
input[type="button"][class^="fa-"]:empty,
input[type="button"][class*=" fa-"]:empty,
button[class^="fa-"]:empty,
button[class*=" fa-"]:empty,
.button[class^="fa-"]:empty,
.button[class*=" fa-"]:empty {
	padding-right: 0.625em;
}

input[type="submit"][class^="fa-"]:empty::before,
input[type="submit"][class*=" fa-"]:empty::before,
input[type="reset"][class^="fa-"]:empty::before,
input[type="reset"][class*=" fa-"]:empty::before,
input[type="button"][class^="fa-"]:empty::before,
input[type="button"][class*=" fa-"]:empty::before,
button[class^="fa-"]:empty::before,
button[class*=" fa-"]:empty::before,
.button[class^="fa-"]:empty::before,
.button[class*=" fa-"]:empty::before {
	margin-right: 0;
}

input.align-fa-right[type="submit"][class^="fa-"]:empty::before,
input.align-fa-right[type="submit"][class*=" fa-"]:empty::before,
input.align-fa-right[type="reset"][class^="fa-"]:empty::before,
input.align-fa-right[type="reset"][class*=" fa-"]:empty::before,
input.align-fa-right[type="button"][class^="fa-"]:empty::before,
input.align-fa-right[type="button"][class*=" fa-"]:empty::before,
button.align-fa-right[class^="fa-"]:empty::before,
button.align-fa-right[class*=" fa-"]:empty::before,
.button.align-fa-right[class^="fa-"]:empty::before,
.button.align-fa-right[class*=" fa-"]:empty::before {
	margin-right: 0;
	margin-left: 0;
}

form input[type="submit"],
form input[type="submit"]:disabled:hover,
form input[type="submit"]:disabled:active,
form input[type="reset"],
form input[type="reset"]:disabled:hover,
form input[type="reset"]:disabled:active,
form input[type="button"],
form input[type="button"]:disabled:hover,
form input[type="button"]:disabled:active,
form button,
form button:disabled:hover,
form button:disabled:active {
	margin-right: 0;
	margin-left: auto;
	display: block;
}

form button + button,
form button + input[type="submit"],
form button + input[type="reset"],
form button + input[type="button"],
form input[type="submit"] + button,
form input[type="reset"] + button,
form input[type="button"] + button,
form input[type="reset"] + input[type="submit"],
form input[type="button"] + input[type="submit"],
form input[type="button"] + input[type="reset"] {
	margin-top: 5px;
}

form hr {
	margin: 0.5em 0 1em;
}

form hr + input[type="submit"],
form hr + input[type="submit"] + input[type="reset"],
form hr + input[type="submit"] + input[type="reset"] + button,
form hr + input[type="submit"] + button,
form hr + input[type="submit"] + button + button,
form hr + input[type="submit"] + button + input[type="reset"],
form hr + input[type="submit"] + button + button + input[type="reset"],
form hr + input[type="reset"],
form hr + input[type="reset"] + input[type="submit"],
form hr + input[type="reset"] + input[type="submit"] + button,
form hr + input[type="reset"] + button,
form hr + input[type="reset"] + button + button,
form hr + input[type="reset"] + button + input[type="submit"],
form hr + input[type="reset"] + button + button + input[type="submit"],
form hr + input[type="button"],
form hr + input[type="button"] + input[type="submit"],
form hr + input[type="button"] + input[type="submit"] + button,
form hr + input[type="button"] + button,
form hr + input[type="button"] + button + button,
form hr + input[type="button"] + button + input[type="submit"],
form hr + input[type="button"] + button + button + input[type="submit"],
form hr + button,
form hr + button + input[type="submit"],
form hr + button + input[type="reset"],
form hr + button + input[type="button"],
form hr + button + button,
form hr + button + button + input[type="submit"],
form hr + button + button + input[type="reset"],
form hr + button + button + input[type="button"],
form hr + button + button + button {
	margin: 0 0 0 10px !important;
	display: block;
	float: right;
}

button.dark,
button.dark:disabled:hover,
button.dark:disabled:active,
.button.dark,
.button.dark.disabled:hover,
.button.dark.disabled:active,
a.button.dark[href=""]:hover,
a.button.dark[href=""]:active {
	color: #FFF;
	text-shadow: 0 0 3px #222;
	background: #222;
	background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
	background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
	background: -o-linear-gradient(top, #555555 0%, #222222 100%);
	background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
	background: linear-gradient(to bottom, #555555 0%, #222222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55555', endColorstr='#222222',GradientType=0);
	border-color: #222;
}

input[type="submit"],
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active,
button[type="submit"],
button[type="submit"]:disabled:hover,
button[type="submit"]:disabled:active,
button.blue,
button.blue:disabled:hover,
button.blue:disabled:active,
.button.blue,
.button.blue.disabled:hover,
.button.blue.disabled:active,
a.button.blue[href=""]:hover,
a.button.blue[href=""]:active {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 0 3px #005DE8;
	background: #066AFF;
	background: -moz-linear-gradient(top, #5599ff 0%, #066aff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5599ff), color-stop(100%, #066aff));
	background: -webkit-linear-gradient(top, #5599ff 0%, #066aff 100%);
	background: -o-linear-gradient(top, #5599ff 0%, #066aff 100%);
	background: -ms-linear-gradient(top, #5599ff 0%, #066aff 100%);
	background: linear-gradient(to bottom, #5599ff 0%, #066aff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5599FF', endColorstr='#066AFF',GradientType=0);
	border-color: #1F79FF;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:active,
input[type="submit"].grey:hover,
input[type="submit"].grey:active,
button[type="submit"].grey:hover,
button[type="submit"].grey:active,
button:hover,
button:active,
.button:hover,
.button:active {
	border-color: #999;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms;
	-moz-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms;
	-ms-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms;
	-o-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms;
	transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms;
}

button.dark:hover,
button.dark:active,
.button.dark:hover,
.button.dark:active {
	background: #444;
	background: -moz-linear-gradient(top, #777777 0%, #333333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777777), color-stop(100%, #333333));
	background: -webkit-linear-gradient(top, #777777 0%, #333333 100%);
	background: -o-linear-gradient(top, #777777 0%, #333333 100%);
	background: -ms-linear-gradient(top, #777777 0%, #333333 100%);
	background: linear-gradient(to bottom, #777777 0%, #333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#333333',GradientType=0);
	border-color: #111;
}

input[type="submit"]:hover,
input[type="submit"]:active,
button[type="submit"]:hover,
button[type="submit"]:active,
button.blue:hover,
button.blue:active,
.button.blue:hover,
.button.blue:active {
	background: #1F79FF;
	background: -moz-linear-gradient(top, #6ea8ff 0%, #1f79ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6ea8ff), color-stop(100%, #1f79ff));
	background: -webkit-linear-gradient(top, #6ea8ff 0%, #1f79ff 100%);
	background: -o-linear-gradient(top, #6ea8ff 0%, #1f79ff 100%);
	background: -ms-linear-gradient(top, #6ea8ff 0%, #1f79ff 100%);
	background: linear-gradient(to bottom, #6ea8ff 0%, #1f79ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6EA8FF', endColorstr='#1F79FF',GradientType=0);
	border-color: #005DE8;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"].grey:active,
button[type="submit"].grey:active,
button:active,
.button:active {
	background: #CCC;
	background: -moz-linear-gradient(top, #cccccc 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
	background: -webkit-linear-gradient(top, #cccccc 0%, #dddddd 100%);
	background: -o-linear-gradient(top, #cccccc 0%, #dddddd 100%);
	background: -ms-linear-gradient(top, #cccccc 0%, #dddddd 100%);
	background: linear-gradient(to bottom, #cccccc 0%, #dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#DDDDDD',GradientType=0);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.dark:active,
.button.dark:active {
	background: #555;
	background: -moz-linear-gradient(top, #333333 0%, #777777 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #777777));
	background: -webkit-linear-gradient(top, #333333 0%, #777777 100%);
	background: -o-linear-gradient(top, #333333 0%, #777777 100%);
	background: -ms-linear-gradient(top, #333333 0%, #777777 100%);
	background: linear-gradient(to bottom, #333333 0%, #777777 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#777777',GradientType=0);
	border-color: #111;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

input[type="submit"]:active,
button[type="submit"]:active,
button.blue:active,
.button.blue:active {
	background: #6EA8FF;
	background: -moz-linear-gradient(top, #1f79ff 0%, #6ea8ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f79ff), color-stop(100%, #6ea8ff));
	background: -webkit-linear-gradient(top, #1f79ff 0%, #6ea8ff 100%);
	background: -o-linear-gradient(top, #1f79ff 0%, #6ea8ff 100%);
	background: -ms-linear-gradient(top, #1f79ff 0%, #6ea8ff 100%);
	background: linear-gradient(to bottom, #1f79ff 0%, #6ea8ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F79FF', endColorstr='#6EA8FF',GradientType=0);
	border-color: #005DE8;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
button:disabled,
input[type="radio"]:checked:disabled ~ label {
	opacity: 0.35;
}