@mixin button-colour($base) {
	//color: #FFF;

	color: if(lightness($base) > 50, #111, #FFF);

	text-shadow: 0 0 3px desaturate(lighten($base, 10%), 2%);

	@include grad(desaturate(lighten($base, 15%), 5%), $base);

	border-color: desaturate(lighten($base, 2%), 10%);

	&:hover,
	&:focus {
		@include grad(desaturate(lighten($base, 20%), 5%), lighten($base, 2%));

		border-color: darken($base, 5%);
	}

	&:active {
		@include grad(lighten($base, 5%), desaturate(lighten($base, 15%), 2%));

		box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.15);
	}

	&.disabled,
	&:disabled {
		&:hover,
		&:focus,
		&:active {
			@include grad(desaturate(lighten($base, 15%), 5%), $base);

			border-color: desaturate(lighten($base, 2%), 10%);

			box-shadow: none;
		}
	}
}

/* ===================================================== BUTTONS ===================================================== */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button {
	width: auto;
	padding: 0.5em 0.75em;

	display: inline-block;

	font-size: 1.3em;
	text-align: center;
	text-decoration: none;
	line-height: 1em;
	vertical-align: top;

	@include grad(#F2F2F2, #D8D8D8);

	border: 1px #CCC solid;
	border-radius: 3px;

	box-shadow: none;

	-webkit-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	-moz-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	-ms-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	-o-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;

	cursor: pointer;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:hover,
	&:focus {
		border-color: #999;

		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}

	&:active {
		@include grad(#D8D8D8, #F2F2F2);

		box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.2);
	}

	&.disabled,
	&:disabled {
		opacity: 0.35;

		&:hover,
		&:focus,
		&:active {
			@include grad(#F2F2F2, #D8D8D8);

			border-color: #CCC;
		}
	}

	// ===================================================== COLOURS =====================================================
	&.red {
		@include button-colour(#D11);
	}

	&.orange {
		@include button-colour(#F60);
	}

	&.yellow {
		@include button-colour(#EC0);
	}

	&.green {
		@include button-colour(#0A1);
	}

	&.aqua {
		@include button-colour(#0CB);
	}

	&.blue {
		@include button-colour(#005DE8);
	}

	&.purple {
		@include button-colour(#551A8B);
	}

	&.pink {
		@include button-colour(#E1A);
	}

	&.black {
		@include button-colour(#222);
	}

	i.fa,
	i[class^="fa-"],
	i[class*=" fa-"] {
		&::before {
			padding-right: 0;
			padding-left: 0.625em;

			display: inline-block;

			float: right;

			vertical-align: top;
		}

		&:empty {
			padding-left: 0.625em;
		}
	}
}

input[type="submit"] {
	font-weight: bold;

	@include button-colour(#005DE8);
}

/*input[type="submit"][class^="fa-"],
input[type="submit"][class*=" fa-"],
input[type="reset"][class^="fa-"],
input[type="reset"][class*=" fa-"],
input[type="button"][class^="fa-"],
input[type="button"][class*=" fa-"],
button[class^="fa-"],
button[class*=" fa-"],
.button[class^="fa-"],
.button[class*=" fa-"] {
	padding-left: 0.625em;
}

input.align-fa-right[type="submit"][class^="fa-"],
input.align-fa-right[type="submit"][class*=" fa-"],
input.align-fa-right[type="reset"][class^="fa-"],
input.align-fa-right[type="reset"][class*=" fa-"],
input.align-fa-right[type="button"][class^="fa-"],
input.align-fa-right[type="button"][class*=" fa-"],
button.align-fa-right[class^="fa-"],
button.align-fa-right[class*=" fa-"],
.button.align-fa-right[class^="fa-"],
.button.align-fa-right[class*=" fa-"] {
	padding-right: 0.625em;
	padding-left: 0.75em;
}

input[type="submit"][class^="fa-"]::before,
input[type="submit"][class*=" fa-"]::before,
input[type="reset"][class^="fa-"]::before,
input[type="reset"][class*=" fa-"]::before,
input[type="button"][class^="fa-"]::before,
input[type="button"][class*=" fa-"]::before,
button[class^="fa-"]::before,
button[class*=" fa-"]::before,
.button[class^="fa-"]::before,
.button[class*=" fa-"]::before {
	margin-right: 0.75em;
	margin-left: 0;
	vertical-align: top;
}

input.align-fa-right[type="submit"][class^="fa-"]::before,
input.align-fa-right[type="submit"][class*=" fa-"]::before,
input.align-fa-right[type="reset"][class^="fa-"]::before,
input.align-fa-right[type="reset"][class*=" fa-"]::before,
input.align-fa-right[type="button"][class^="fa-"]::before,
input.align-fa-right[type="button"][class*=" fa-"]::before,
button.align-fa-right[class^="fa-"]::before,
button.align-fa-right[class*=" fa-"]::before,
.button.align-fa-right[class^="fa-"]::before,
.button.align-fa-right[class*=" fa-"]::before {
	margin-right: 0;
	margin-left: 0.75em;
	float: right;
}

input[type="submit"][class^="fa-"]:empty,
input[type="submit"][class*=" fa-"]:empty,
input[type="reset"][class^="fa-"]:empty,
input[type="reset"][class*=" fa-"]:empty,
input[type="button"][class^="fa-"]:empty,
input[type="button"][class*=" fa-"]:empty,
button[class^="fa-"]:empty,
button[class*=" fa-"]:empty,
.button[class^="fa-"]:empty,
.button[class*=" fa-"]:empty {
	padding-right: 0.625em;
}

input[type="submit"][class^="fa-"]:empty::before,
input[type="submit"][class*=" fa-"]:empty::before,
input[type="reset"][class^="fa-"]:empty::before,
input[type="reset"][class*=" fa-"]:empty::before,
input[type="button"][class^="fa-"]:empty::before,
input[type="button"][class*=" fa-"]:empty::before,
button[class^="fa-"]:empty::before,
button[class*=" fa-"]:empty::before,
.button[class^="fa-"]:empty::before,
.button[class*=" fa-"]:empty::before {
	margin-right: 0;
}

input.align-fa-right[type="submit"][class^="fa-"]:empty::before,
input.align-fa-right[type="submit"][class*=" fa-"]:empty::before,
input.align-fa-right[type="reset"][class^="fa-"]:empty::before,
input.align-fa-right[type="reset"][class*=" fa-"]:empty::before,
input.align-fa-right[type="button"][class^="fa-"]:empty::before,
input.align-fa-right[type="button"][class*=" fa-"]:empty::before,
button.align-fa-right[class^="fa-"]:empty::before,
button.align-fa-right[class*=" fa-"]:empty::before,
.button.align-fa-right[class^="fa-"]:empty::before,
.button.align-fa-right[class*=" fa-"]:empty::before {
	margin-right: 0;
	margin-left: 0;
}*/