/* ===================================================== FORMS AND INPUTS ===================================================== */
input,
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form.inline {
	width: 100%;

	display: inline-block;

	text-align: right;

	input,
	select,
	textarea {
		margin: 0.2em 0;
		padding: 0.25em;

		font-size: 1.3em;

		border: 1px #CCC solid;
		border-radius: 3px;
	}

	textarea {
		min-height: 2em;

		resize: vertical;
	}

	input:invalid,
	select:invalid,
	textarea:invalid {
		border-color: #F99;

		box-shadow: 0 0 0.5em rgba(212, 0, 0, 0.5);
	}

	input,
	button {
		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			margin-top: 0.5em;
			padding: 0.5em 0.75em;

			float: right;
			clear: both;

			font-weight: 800;

			@include button-colour(#005DE8);

			~ input,
			~ button {
				&[type="submit"],
				&[type="reset"],
				&[type="button"] {
					margin-right: 0.5em;

					clear: none;
				}
			}
		}
	}

	label {
		width: 25%;
		margin: 0.4em 0;
		padding: 1px 0;

		float: left;
		clear: both;

		font-size: 1.3em;
		text-align: left;
		line-height: 1.3em;

		+ input,
		+ select,
		+ textarea {
			width: 75%;

			display: block;

			float: right;

			text-align: left;
		}
	}

	&.labels-right label {
		text-align: right;
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
		margin-top: 0.4em;

		float: left;
	}

	input[type="checkbox"] {}

	input[type="radio"] {
		+ label {
			width: auto;
			margin-top: 0.4em;
			margin-right: 1.5em;
			padding: 0 0.5em;

			float: left;
			clear: none;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl {
		clear: both;

		text-align: left;
	}
}

optgroup option {
	padding-left: 1em;
}