/* ===================================================== FORMS AND INPUTS ===================================================== */
input,
select,
textarea {
	padding: 0.25em;

	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-weight: 400;

	background-color: #FFF;

	border: 1px #CCC solid;
	border-radius: 3px;
}

	optgroup,
	option {
		padding-right: 1em;
	}

		optgroup option {
			padding-left: 1em;
		}

		option:disabled {
			color: #AAA;
		}

form.inline,
form.block {
	width: 100%;

	display: inline-block;

	text-align: right;

	label {
		width: 23%;
		margin: 0.4em 2% 0.4em 0;
		padding: 1px 0;

		float: left;
		clear: both;

		font-size: 1.3em;
		font-weight: 400;
		text-align: left;
		line-height: 1.3em;
	}

	&.labels-right label {
		text-align: right;
	}

	input,
	select,
	textarea {
		width: 75%;
		margin: 0.2em 0;

		display: block;

		float: right;

		font-size: 1.3em;
		text-align: left;

		&::-webkit-input-placeholder {
			color: #999;
			font-weight: 400;
		}

		&:-moz-placeholder {
			color: #999;
			font-weight: 400;
		}

		&::-moz-placeholder {
			color: #999;
			font-weight: 400;
		}

		&:-ms-input-placeholder {
			color: #999;
			font-weight: 400;
		}

		&:disabled,
		&[readonly] {
			color: #AAA;

			background-color: #EEE;
		}
	}

	textarea {
		min-height: 2em;

		resize: vertical;
	}

	input:invalid,
	select:invalid,
	textarea:invalid {
		border-color: #F99;

		box-shadow: 0 0 0.5em rgba(212, 0, 0, 0.5);
	}

	input,
	button {
		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			width: auto;
			margin-top: 0.5em;
			padding: 0.5em 0.75em;

			float: right;
			clear: both;

			+ input,
			+ button {
				&[type="submit"],
				&[type="reset"],
				&[type="button"] {
					margin-right: 0.5em;

					clear: none;
				}
			}
		}

		&[type="submit"] {
			@include button-colour(#005DE8);

			font-weight: 800;
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
		margin-top: 0.4em;

		float: left;
	}

	input[type="radio"] {
		+ label {
			width: auto;
			margin-top: 0.4em;
			margin-right: 1.5em;
			padding: 0 0.5em;

			float: left;
			clear: none;

			font-weight: inherit;
		}

		&:disabled,
		&[readonly] {
			+ label {
				color: #AAA;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl {
		clear: both;

		text-align: left;
	}
}

form.block {
	@include blockform();
}

@media screen and (max-width: $intTabletSmall - 1) {
	form.inline.foldable {
		@include blockform();
	}
}