/* ===================================================== FORMS AND INPUTS ===================================================== */
input,
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form {
	width: 100%;

	display: inline-block;

	text-align: right;

	input,
	select,
	textarea,
	input:invalid:empty,
	select:invalid:empty,
	textarea:invalid:empty {
		margin: 0.2em 0;
		padding: 0.25em;

		font-size: 1.3em;

		border: 1px #CCC solid;
		border-radius: 3px;
	}

	input:invalid,
	select:invalid,
	textarea:invalid {
		border-color: #F99;

		box-shadow: 0 0 0.5em rgba(212, 0, 0, 0.5);
	}

	input:invalid:empty,
	select:invalid:empty,
	textarea:invalid:empty {
		border-color: #CCC;
	}

	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		margin-top: 0.5em;

		float: right;
		clear: both;

		~ input[type="submit"],
		~ input[type="reset"],
		~ input[type="button"] {
			margin-right: 0.5em;

			clear: none;
		}
	}

	label {
		width: 25%;
		margin: 0.4em 0;
		padding: 1px 0;

		float: left;
		clear: both;

		font-size: 1.3em;
		text-align: left;
		line-height: 1.3em;

		+ input,
		+ select,
		+ textarea {
			width: 75%;

			display: block;

			float: right;

			text-align: left;
		}
	}

	&.labels-right label {
		text-align: right;
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
	}

	input[type="checkbox"] {
		margin-top: 0.4em;

		float: left;
	}

	input[type="radio"] {
		margin-top: 0.5em;

		float: left;

		+ label {
			width: auto;
			margin-top: 0.4em;
			margin-right: 1.5em;
			padding: 0 0.5em;

			float: left;
			clear: none;
		}
	}
}

/*form.inline {
	display: block;
}

	label {
		padding-bottom: 1em;
		display: block;
		font-size: 1.3em;
	}

	label span[title] {
		border-bottom: 1px #999 dotted;
	}

	form.inline label {
		padding: 0.5em;
		overflow: hidden;
	}

	input, textarea {
		background-color: #FFF;
	}

	textarea {
		resize: vertical;
	}

	input,
	select,
	textarea,
	button {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		color: #222;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	input[type="datetime"],
	input[type="search"],
	input[type="file"],
	select,
	textarea,
	button {
		font-size: 1.3em;
	}

	input[type="password"] {
		-webkit-appearance: caps-lock-indicator;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	input[type="datetime"],
	input[type="search"],
	input[type="file"],
	select,
	textarea {
		padding: 4px;
		border: 1px #CCC solid;
		border-radius: 3px;
		-webkit-transition: border ease 200ms, box-shadow ease 200ms;
		-moz-transition: border ease 200ms, box-shadow ease 200ms;
		-ms-transition: border ease 200ms, box-shadow ease 200ms;
		-o-transition: border ease 200ms, box-shadow ease 200ms;
		transition: border ease 200ms, box-shadow ease 200ms;
	}

	textarea {
		width: 90%;
		min-width: 90px;
	}

	textarea.plain {
		font-family: "Courier New", Courier, monospace;
	}

	input[type="text"]:invalid,
	input[type="email"]:invalid,
	input[type="password"]:invalid,
	input[type="tel"]:invalid,
	input[type="number"]:invalid,
	input[type="date"]:invalid,
	input[type="time"]:invalid,
	input[type="datetime"]:invalid,
	input[type="search"]:invalid,
	input[type="file"]:invalid,
	select:invalid,
	textarea:invalid {
		background-color: #FDD;
		border-color: #EBB;
		box-shadow: none;
	}

	input[type="text"]:-webkit-autofill,
	input[type="email"]:-webkit-autofill,
	input[type="password"]:-webkit-autofill,
	input[type="tel"]:-webkit-autofill,
	input[type="number"]:-webkit-autofill,
	input[type="date"]:-webkit-autofill,
	input[type="time"]:-webkit-autofill,
	input[type="datetime"]:-webkit-autofill,
	input[type="search"]:-webkit-autofill,
	input[type="file"]:-webkit-autofill {
		background-color: #FFB;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	input[type="tel"]:focus,
	input[type="number"]:focus,
	input[type="date"]:focus,
	input[type="time"]:focus,
	input[type="datetime"]:focus,
	input[type="search"]:focus,
	input[type="file"]:focus,
	input[type="checkbox"]:focus,
	select:focus,
	textarea:focus {
		border-color: #999;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		-webkit-transition: border ease 50ms, box-shadow ease 50ms;
		-moz-transition: border ease 50ms, box-shadow ease 50ms;
		-ms-transition: border ease 50ms, box-shadow ease 50ms;
		-o-transition: border ease 50ms, box-shadow ease 50ms;
		transition: border ease 50ms, box-shadow ease 50ms;
	}

	input[type="text"].no-focus:focus,
	input[type="email"].no-focus:focus,
	input[type="password"].no-focus:focus,
	input[type="tel"].no-focus:focus,
	input[type="number"].no-focus:focus,
	input[type="date"].no-focus:focus,
	input[type="time"].no-focus:focus,
	input[type="datetime"].no-focus:focus,
	input[type="search"].no-focus:focus,
	input[type="file"].no-focus:focus,
	input[type="checkbox"].no-focus:focus,
	select.no-focus:focus,
	textarea.no-focus:focus {
		border-color: #CCC;
		box-shadow: none;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}

	input.placeholder, textarea.placeholder {
		color: #999;
	}

	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: #999;
	}

	input:-moz-placeholder, textarea:-moz-placeholder {
		color: #999;
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
		margin: 0 10px 0 0;
		display: inline-block;
		outline: none;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	input[type="datetime"],
	input[type="search"],
	input[type="file"],
	textarea {
		outline: none;
	}

	label input[type="text"],
	label input[type="email"],
	label input[type="password"],
	label input[type="tel"],
	label input[type="number"],
	label input[type="date"],
	label input[type="time"],
	label input[type="datetime"],
	label input[type="search"],
	label input[type="file"],
	label select,
	label textarea {
		display: block;
	}

	form.inline label input[type="text"],
	form.inline label input[type="email"],
	form.inline label input[type="password"],
	form.inline label input[type="tel"],
	form.inline label input[type="number"],
	form.inline label input[type="date"],
	form.inline label input[type="time"],
	form.inline label input[type="datetime"],
	form.inline label input[type="search"],
	form.inline label input[type="file"],
	form.inline label input[type="checkbox"],
	form.inline label input[type="radio"],
	form.inline label button,
	form.inline label select,
	form.inline label textarea,
	form label.inline input[type="text"],
	form label.inline input[type="email"],
	form label.inline input[type="password"],
	form label.inline input[type="tel"],
	form label.inline input[type="number"],
	form label.inline input[type="date"],
	form label.inline input[type="time"],
	form label.inline input[type="datetime"],
	form label.inline input[type="search"],
	form label.inline input[type="file"],
	form label.inline input[type="checkbox"],
	form label.inline input[type="radio"],
	form label.inline button,
	form label.inline select,
	form label.inline textarea {
		margin-top: -5px;
		display: inline-block;
		float: right;
	}

	form.inline label input[type="text"],
	form.inline label input[type="email"],
	form.inline label input[type="password"],
	form.inline label input[type="tel"],
	form.inline label input[type="number"],
	form.inline label input[type="date"],
	form.inline label input[type="time"],
	form.inline label input[type="datetime"],
	form.inline label input[type="search"],
	form.inline label input[type="file"],
	form.inline label select,
	form.inline label textarea,
	form label.inline input[type="text"],
	form label.inline input[type="email"],
	form label.inline input[type="password"],
	form label.inline input[type="tel"],
	form label.inline input[type="number"],
	form label.inline input[type="date"],
	form label.inline input[type="time"],
	form label.inline input[type="datetime"],
	form label.inline input[type="search"],
	form label.inline input[type="file"],
	form label.inline select,
	form label.inline textarea {
		width: 75%;
	}

	form.inline label button {
		width: 10%;
		margin-left: 1%;
		padding: 3px 2%;
	}

	form.inline label button ~ input[type="text"],
	form.inline label button ~ input[type="email"],
	form.inline label button ~ input[type="password"],
	form.inline label button ~ input[type="tel"],
	form.inline label button ~ input[type="number"],
	form.inline label button ~ input[type="date"],
	form.inline label button ~ input[type="time"],
	form.inline label button ~ input[type="datetime"],
	form.inline label button ~ input[type="search"],
	form.inline label button ~ input[type="file"],
	form.inline label button ~ select,
	form.inline label button ~ textarea,
	form label.inline button ~ input[type="text"],
	form label.inline button ~ input[type="email"],
	form label.inline button ~ input[type="password"],
	form label.inline button ~ input[type="tel"],
	form label.inline button ~ input[type="number"],
	form label.inline button ~ input[type="date"],
	form label.inline button ~ input[type="time"],
	form label.inline button ~ input[type="datetime"],
	form label.inline button ~ input[type="search"],
	form label.inline button ~ input[type="file"],
	form label.inline button ~ select,
	form label.inline button ~ textarea {
		width: 60%;
	}

	form.inline label input[type="checkbox"],
	form label.inline input[type="checkbox"] {
		margin-right: 75%;
	}

	form.inline label button,
	form label.inline button {
		font-size: 1em;
	}

	form.inline label + button,
	form label.inline + button,
	form.inline label + button + button,
	form label.inline + button + button,
	form.inline label + button + button + button,
	form label.inline + button + button + button {
		margin-right: 5px;
		margin-bottom: 10px;
	}

	label input[type="text"],
	p input[type="text"],
	label input[type="email"],
	p input[type="email"],
	label input[type="password"],
	p input[type="password"],
	label input[type="tel"],
	p input[type="tel"],
	label input[type="number"],
	p input[type="number"],
	label input[type="date"],
	p input[type="date"],
	label input[type="time"],
	p input[type="time"],
	label input[type="datetime"],
	p input[type="datetime"],
	label input[type="search"],
	p input[type="search"],
	label input[type="file"],
	p input[type="file"],
	label input[type="radio"],
	p input[type="radio"],
	label select,
	p select,
	label textarea,
	p textarea {
		font-size: 1em;
	}

	label input[type="text"],
	label input[type="email"],
	label input[type="password"],
	label input[type="tel"],
	label input[type="number"],
	label input[type="date"],
	label input[type="time"],
	label input[type="datetime"],
	label input[type="search"],
	label input[type="file"],
	label select,
	label textarea {
		margin-top: 5px;
		margin-right: auto;
		margin-left: 0;
	}

	input[type="radio"] {
		display: none;
	}

	label input[type="radio"] {
		display: inline-block;
	}

	input[type="radio"] + label,
	input[type="radio"]:disabled + label:hover,
	input[type="radio"]:disabled + label:active {
		padding: 5px 15px;
		display: inline-block;
		position: relative;
		left: -7px;
		font-size: 1.3em;
		background: #F2F2F2;
		background: -moz-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8));
		background: -webkit-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
		background: -o-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
		background: -ms-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
		background: linear-gradient(to bottom, #f2f2f2 0%, #d8d8d8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#D8D8D8',GradientType=0);
		border: 1px #CCC solid;
		border-radius: 3px;
		box-shadow: none;
		-webkit-transition: border 200ms ease, box-shadow 200ms ease;
		-moz-transition: border 200ms ease, box-shadow 200ms ease;
		-ms-transition: border 200ms ease, box-shadow 200ms ease;
		-o-transition: border 200ms ease, box-shadow 200ms ease;
		transition: border 200ms ease, box-shadow 200ms ease;
		cursor: pointer;
	}

	input[type="radio"] + label + input[type="radio"] + label {
		margin-left: 5px;
	}

	input[type="radio"]:checked + label,
	input[type="radio"] + label:hover {
		border-color: #999;
		-webkit-transition: border 50ms ease, box-shadow 50ms ease;
		-moz-transition: border 50ms ease, box-shadow 50ms ease;
		-ms-transition: border 50ms ease, box-shadow 50ms ease;
		-o-transition: border 50ms ease, box-shadow 50ms ease;
		transition: border 50ms ease, box-shadow 50ms ease;
	}

	input[type="radio"] + label:hover {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}

	input[type="radio"]:checked + label,
	input[type="radio"]:checked:disabled + label {
		color: #FFF;
		text-shadow: 0 0 3px #999;
		background: #999;
		background: -moz-linear-gradient(top, #999999 0%, #cccccc 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #cccccc));
		background: -webkit-linear-gradient(top, #999999 0%, #cccccc 100%);
		background: -o-linear-gradient(top, #999999 0%, #cccccc 100%);
		background: -ms-linear-gradient(top, #999999 0%, #cccccc 100%);
		background: linear-gradient(to bottom, #999999 0%, #cccccc 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#CCCCCC',GradientType=0);
	}

	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: #999;
		font-style: italic;
	}

	input::-moz-placeholder,
	textarea::-moz-placeholder {
		color: #999;
		font-style: italic;
	}

	input:-moz-placeholder,
	textarea:-moz-placeholder {
		color: #999;
		font-style: italic;
	}

	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
		color: #999;
		font-style: italic;
	}

	input:invalid::-webkit-input-placeholder,
	textarea:invalid::-webkit-input-placeholder {
		color: #966;
	}

	input:invalid::-moz-placeholder,
	textarea:invalid::-moz-placeholder {
		color: #966;
	}

	input:invalid:-moz-placeholder,
	textarea:invalid:-moz-placeholder {
		color: #966;
	}

	input:invalid:-ms-input-placeholder,
	textarea:invalid:-ms-input-placeholder {
		color: #966;
	}

	select {
		min-width: 90px;
		border: 1px #CCC solid;
		border-radius: 3px;
	}

	optgroup option {
		padding-left: 1.5em;
	}*/