$intMobileLarge: 480px;
$intTabletSmall: 658px;
$intTabletLarge: 768px;
$intDesktop: 1024px;

/* ===================================================== RESPONSIVE ELEMENTS ===================================================== */
.show-on-desktop,
.show-on-tablet,
.show-on-tablet-l,
.show-on-tablet-p,
.show-on-mobile,
.show-on-mobile-l,
.show-on-mobile-p {
	display: none;
}

.oldie .show-on-desktop {
	display: block;
}

.oldie .hide-on-desktop {
	display: none;
}

/* ----------------------------------------------------- SMALL MOBILE (iPhone Portrait) ----------------------------------------------------- */
@media screen and (max-width: $intMobileLarge) {
	.hide-on-mobile-p {
		display: none;
	}

	.show-on-mobile-p {
		display: block;
	}
}

/* ----------------------------------------------------- LARGE MOBILE (iPhone Landscape) ----------------------------------------------------- */
@media screen and (min-width: $intMobileLarge + 1) and (max-width: $intTabletSmall) {
	.hide-on-mobile-l {
		display: none;
	}

	.show-on-mobile-l {
		display: block;
	}
}

/* ----------------------------------------------------- MOBILE (iPhone) ----------------------------------------------------- */
@media screen and (max-width: $intTabletSmall) {
	.hide-on-mobile {
		display: none;
	}

	.show-on-mobile {
		display: block;
	}
}

/* ----------------------------------------------------- SMALL TABLET ----------------------------------------------------- */
@media screen and (min-width: $intTabletSmall + 1) and (max-width: $intTabletLarge) {
	.hide-on-tablet-p {
		display: none;
	}

	.show-on-tablet-p {
		display: block;
	}
}

/* ----------------------------------------------------- LARGE TABLET (iPad) ----------------------------------------------------- */
@media screen and (min-width: $intTabletLarge + 1) and (max-width: $intDesktop) {
	.hide-on-tablet-l {
		display: none;
	}

	.show-on-tablet-l {
		display: block;
	}
}

/* ----------------------------------------------------- TABLET (iPad) ----------------------------------------------------- */
@media screen and (min-width: $intTabletSmall + 1) and (max-width: $intDesktop) {
	.hide-on-tablet {
		display: none;
	}

	.show-on-tablet {
		display: block;
	}
}

/* ----------------------------------------------------- DESKTOP ----------------------------------------------------- */
@media screen and (min-width: $intDesktop + 1) {
	.hide-on-desktop {
		display: none;
	}

	.show-on-desktop {
		display: block;
	}
}