$intMobileLarge: 481px;
$intTabletSmall: 659px;
$intTabletLarge: 769px;
$intDesktop: 1025px;

/* ===================================================== RESPONSIVE ELEMENTS ===================================================== */
[class^="show-on-"],
[class*=" show-on-"] {
	display: none;
}

.oldie .show-on-desktop {
	display: block;
}

.oldie .hide-on-desktop {
	display: none;
}

/* ----------------------------------------------------- SMALL MOBILE (iPhone Portrait) ----------------------------------------------------- */
@media screen and (max-width: $intMobileLarge - 1) {
	.hide-on-mobile-p {
		display: none;
	}

	.show-on-mobile-p {
		display: block;
	}
}

/* ----------------------------------------------------- LARGE MOBILE (iPhone Landscape) ----------------------------------------------------- */
@media screen and (min-width: $intMobileLarge) and (max-width: $intTabletSmall - 1) {
	.hide-on-mobile-l {
		display: none;
	}

	.show-on-mobile-l {
		display: block;
	}
}

/* ----------------------------------------------------- MOBILE (iPhone) ----------------------------------------------------- */
@media screen and (max-width: $intTabletSmall - 1) {
	.hide-on-mobile {
		display: none;
	}

	.show-on-mobile {
		display: block;
	}
}

/* ----------------------------------------------------- SMALL TABLET ----------------------------------------------------- */
@media screen and (min-width: $intTabletSmall) and (max-width: $intTabletLarge - 1) {
	.hide-on-tablet-p {
		display: none;
	}

	.show-on-tablet-p {
		display: block;
	}
}

/* ----------------------------------------------------- LARGE TABLET (iPad) ----------------------------------------------------- */
@media screen and (min-width: $intTabletLarge) and (max-width: $intDesktop - 1) {
	.hide-on-tablet-l {
		display: none;
	}

	.show-on-tablet-l {
		display: block;
	}
}

/* ----------------------------------------------------- TABLET (iPad) ----------------------------------------------------- */
@media screen and (min-width: $intTabletSmall) and (max-width: $intDesktop - 1) {
	.hide-on-tablet {
		display: none;
	}

	.show-on-tablet {
		display: block;
	}
}

/* ----------------------------------------------------- DESKTOP ----------------------------------------------------- */
@media screen and (min-width: $intDesktop) {
	.hide-on-desktop {
		display: none;
	}

	.show-on-desktop {
		display: block;
	}
}