/* ===================================================== TABLES ===================================================== */
table {
	width: 100%;
	margin-bottom: 20px;

	background-color: rgba(255, 255, 255, 0.85);

	border: 1px #CCC solid;
	border-radius: 3px;
	border-collapse: collapse;

	a {
		color: #222;
		font-style: normal;
	}

	p,
	ul,
	ol,
	label {
		font-size: 1em;
	}

	p {
		margin: 5px 0;
	}

	ul {
		margin-left: 15px;
	}

	button {
		font-size: 1.16666em;
	}
}

	thead {
		font-family: Helvetica, Arial, Tahoma, sans-serif;
		font-weight: 800;
		font-size: 1.3em;

		@include grad(#EEE, #D8D8D8);
	}

	tbody,
	tfoot {
		font-size: 1.2em;
	}

		tbody {
			tr:nth-child(even) {
				background-color: #EEE;
			}

			tr.disabled {
				color: #AAA;

				background-color: #F4F4F4;
			}
		}

			th,
			td {
				min-width: 5px;
				padding: 5px 10px;

				border-width: 1px 0;
				border-color: #CCC;
				border-style: solid;
			}

			th {
				text-align: left;
			}

			td {}

				tr.highlight,
				.highlight-on-hover tr {
					background-color: #FFB;
				}