/* ===================================================== TABLES ===================================================== */
table {
	width: 100%;
	margin-bottom: 20px;

	background-color: rgba(255, 255, 255, 0.85);

	border-radius: 3px;
	border-collapse: collapse;
}

	thead {
		font-family: Helvetica, Arial, Tahoma, sans-serif;
		font-weight: bold;
		font-size: 1.3em;

		@include grad(#F2F2F2, #D8D8D8);
	}

	.ubuntu thead {
		font-family: "Ubuntu", Helvetica, Arial, Tahoma, sans-serif;
		font-weight: 500;
		font-size: 1.4em;
	}

	thead.no-background {
		background: none;
	}

	tbody,
	tfoot {
		font-size: 1.2em;
	}

		tr.disabled {
			color: #666;
			font-style: italic;

			background-color: #F2F2F2;
		}

		tr.details {
			display: none;
		}

			th,
			td {
				min-width: 5px;
				padding: 5px 10px;

				border: 1px #CCC solid;

				-webkit-transition: background 400ms ease;
				-moz-transition: background 400ms ease;
				-ms-transition: background 400ms ease;
				-o-transition: background 400ms ease;
				transition: background 400ms ease;
			}

			th.no-border,
			td.no-border {
				border: none;
			}

			th {
				text-align: left;
			}

			thead th {}

			td {}

				table a {
					color: #222;
					font-style: normal;
				}

				table p,
				table ul,
				table ol,
				table label {
					font-size: 1em;
				}

				table p {
					margin: 5px 0;
				}

				table ul {
					margin-left: 15px;
				}

				table.highlight-hover-row tbody tr:hover th,
				table.highlight-hover-row tbody tr:hover td {
					background-color: #DEF;

					-webkit-transition: background 50ms ease;
					-moz-transition: background 50ms ease;
					-ms-transition: background 50ms ease;
					-o-transition: background 50ms ease;
					transition: background 50ms ease;
				}

				table button {
					font-size: 1.16666em;
				}