@charset "UTF-8";
/*!
 * ================================================================================
 * Arable
 * Useful and stylish CSS
 * --------------------------------------------------------------------------------
 * Author:      Andrew Hosgood
 * Version:     5.0.0 Pre-release
 * Date:        02/01/2015
 * ================================================================================
 * Please include Open Sans if supporting systems without Helvetica
 * http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800
 * ================================================================================
 */

// ===================================================== VARIABLES =====================================================
// ----------------------------------------------------- FONTS -----------------------------------------------------
$baseFontSize: 1.33;
$baseLineHeight: 1.618;
$basefontWeight: 400;

// ----------------------------------------------------- COLOURS -----------------------------------------------------
// http://zavoloklom.github.io/material-design-color-palette/colors.html

$baseTextColour: #212121;
$baseLinkColour: #0D47A1;
$baseLinkHoverColour: #1976D2;
$baseLinkActiveColour: #E64A19;

$activeHighlight: #FBC02D;

//$buttonRed: #D11;
$buttonRed: #D50000;
//$buttonGreen: #1A2;
//$buttonGreen: #388E3C;
$buttonGreen: #43A047;
//$buttonBlue: #005DE8;
$buttonBlue: #1976D2;
$buttonBlack: #222;
$buttonSubmit: $buttonBlue;

$errorBorder: #D32F2F;
$errorBackground: #FFCDD2;
$warningBorder: #FFA000;
$warningBackground: #FFECB3;
$successBorder: #689F38;
$successBackground: #DCEDC8;
$noticeBorder: #1976D2;
$noticeBackground: #BBDEFB;

$bgLightGrey: #F5F5F5;
$borderGrey: #CCC;
//$highlight: #FF9;
$highlight: #FFF59D;
//$highlightTable: #FFB;
$highlightTable: #FFF9C4;

// ===================================================== RESOURCES =====================================================
@import "resources/functions";

@import "resources/mixins";

// ===================================================== MODULES =====================================================
@import "modules/reset";

@import "modules/responsive";

@import "modules/generic";

@import "modules/forms";

@import "modules/buttons";

@import "modules/lists";

@import "modules/tables";

@import "modules/text";

@import "modules/misc";

@import "modules/projects";