// ===================================================== MIXINS =====================================================
@mixin grad($top, $bottom) {
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom)) no-repeat scroll;
	background: -webkit-linear-gradient(top, $top 0%, $bottom 100%) no-repeat scroll;
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%) no-repeat scroll;
	//background: -ms-linear-gradient(top, $top 0%, $bottom 100%) no-repeat scroll;
	//background: -o-linear-gradient(top, $top 0%, $bottom 100%) no-repeat scroll;
	background: linear-gradient(to bottom, $top 0%, $bottom 100%) no-repeat scroll;
	background-color: $top;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	/*@-ms-keyframes #{$name} {
		@content;
	}

	@-o-keyframes #{$name} {
		@content;
	}*/

	@keyframes #{$name} {
		@content;
	}
}

@mixin basefontsize {
	font-size: #{$baseFontSize}em;
	font-size: #{$baseFontSize}rem;
}

@mixin basefontlineheight {
	line-height: #{$baseLineHeight}em;
}

@mixin basefontweight {
	font-weight: $basefontWeight;
}

@mixin basefontcolour {
	color: $baseTextColour;
}

@mixin basefontface {
	font-family: "Helvetica Neue Light", "Helvetica Neue", HelveticaNeue, Helvetica, "Open Sans", Arial, sans-serif;
}

@mixin button {
	width: auto;
	padding: 0 0.75em;

	display: inline-block;

	@include basefontcolour;
	@include basefontsize;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	line-height: 2.1em;
	vertical-align: middle;
	white-space: nowrap;

	@include grad(#F2F2F2, #D8D8D8);

	border: 1px $borderGrey solid;
	border-radius: 3px;

	//box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);

	-webkit-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	//-moz-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	//-ms-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	//-o-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
	transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;

	cursor: pointer;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	&:focus,
	&:hover,
	&:active {
		@include basefontcolour;

		border-color: #AAA;

		-webkit-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 100ms;
		//-moz-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 100ms;
		//-ms-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 100ms;
		//-o-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 100ms;
		transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 100ms;
	}

	&:focus,
	&:hover {
		//box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}

	&:active {
		//box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 1px 3px rgba(0, 0, 0, 0.25);
	}

	&.thin {
		height: 1.5em;

		line-height: 1.5em;
	}

	&.disabled,
	&:disabled {
		opacity: 0.4;

		&:hover,
		&:focus,
		&:active {
			@include grad(#F2F2F2, #D8D8D8);

			border-color: $borderGrey;

			box-shadow: none;
		}
	}

	&.red {
		@include button-grad($buttonRed);
	}

	&.green {
		@include button-grad($buttonGreen);
	}

	&.blue {
		@include button-grad($buttonBlue);
	}

	&.black {
		@include button-grad($buttonBlack);
	}

	/*&.flat {
		background: #E4E4E4;

		border: none;

		box-shadow: none;

		&:hover {
			background: #E8E8E8;
		}

		&:active {
			box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25);
		}

		&.red {
			@include button-flat($buttonRed);
		}

		&.green {
			@include button-flat($buttonGreen);
		}

		&.blue {
			@include button-flat($buttonBlue);
		}

		&.black {
			@include button-flat($buttonBlack);
		}
	}*/

	/*i.fa,
	i[class^="fa-"],
	i[class*=" fa-"] {
		&::before {
			width: 1em;
			height: 1em;
			padding-right: 0;
			padding-left: 0.625em;

			display: inline-block;

			float: right;

			text-align: center;
			vertical-align: top;
			line-height: 1em;
		}

		&.left-icon {
			&::before {
				padding-right: 0.625em;
				padding-left: 0;

				float: left;
			}
		}
	}

	&:empty {
		i.fa,
		i[class^="fa-"],
		i[class*=" fa-"] {
			&::before {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}*/
}

@mixin button-grad($base) {
	color: blackorwhite($base);
	text-shadow: 0 0 3px desaturate(lighten($base, 10%), 2%);

	@include grad(desaturate(lighten($base, 15%), 5%), $base);

	border-color: desaturate(lighten($base, 2%), 10%);

	&:focus,
	&:hover,
	&:active {
		color: if(lightness($base) > 50, #111, #FFF);

		border-color: darken($base, 5%);
	}

	&:focus,
	&:hover {
		@include grad(desaturate(lighten($base, 20%), 5%), lighten($base, 2%));
	}

	&:active {
		//@include grad(lighten($base, 5%), desaturate(lighten($base, 15%), 2%));

		//box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.35);
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.15);
	}

	&.disabled,
	&:disabled {
		&:hover,
		&:focus,
		&:active {
			@include grad(desaturate(lighten($base, 15%), 5%), $base);

			border-color: desaturate(lighten($base, 2%), 10%);

			box-shadow: none;
		}
	}
}

/*@mixin button-flat($base) {
	color: if(lightness($base) > 50, #111, #FFF);

	background: desaturate(lighten($base, 10%), 5%);

	&:focus,
	&:hover,
	&:active {
		background: lighten($base, 15%);

		border-color: lighten($base, 15%);
	}

	&.disabled,
	&:disabled {
		&:hover,
		&:focus,
		&:active {
			background: lighten($base, 10%);

			border-color: lighten($base, 10%);

			box-shadow: none;
		}
	}
}*/

@mixin blockform {
	text-align: left;

	label {
		width: auto;
		margin-bottom: 0.2em;
		margin-left: 0.2em;

		display: inline-block;
	}

	input,
	select,
	textarea,
	.label,
	.twistupload-wrapper {
		width: 100%;
		margin-top: 0;

		float: none;
		clear: both;

		&[class^="inline-"],
		&[class*=" inline-"] {
			float: left;

			+ [class^="inline-"],
			+ [class*=" inline-"] {
				margin-left: 1%;

				clear: none;
			}
		}
	}

	input,
	select,
	.label {
		@for $splitInput from 2 through 8 {
			&.inline-#{$splitInput} {
				width: ( 100% - ( $splitInput - 1 ) ) / $splitInput;
			}
		}
	}

	.label {
		margin-bottom: 0.2em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
		margin-right: 0.5em;
		margin-left: 0.5em;

		display: inline-block;

		float: left;
	}

	input[type="checkbox"] {
		margin-top: 0.65em;

		clear: none;
	}

	input[type="radio"] {
		margin-top: 0.45em;

		//clear: both;

		+ label {
			margin-top: 0.25em;
			margin-bottom: 0.25em;

			display: inline-block;
		}
	}
}