// ===================================================== MIXINS =====================================================
@mixin grad($top, $bottom) {
	background: $top no-repeat scroll;
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%) no-repeat scroll;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom)) no-repeat scroll;
	background: -webkit-linear-gradient(top, $top 0%, $bottom 100%) no-repeat scroll;
	background: -o-linear-gradient(top, $top 0%, $bottom 100%) no-repeat scroll;
	background: -ms-linear-gradient(top, $top 0%, $bottom 100%) no-repeat scroll;
	background: linear-gradient(to bottom, $top 0%, $bottom 100%) no-repeat scroll;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@-ms-keyframes #{$name} {
		@content;
	}

	@-o-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}

@mixin basefontsize() {
	font-size: #{$baseFontSize}em;
}

@mixin basefontlineheight() {
	line-height: #{$baseLineHeight}em;
}

@mixin basefontcolour() {
	color: #222;
}

@mixin basefontface() {
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin button-colour($base) {
	color: if(lightness($base) > 50, #111, #FFF);
	text-shadow: 0 0 3px desaturate(lighten($base, 10%), 2%);

	@include grad(desaturate(lighten($base, 15%), 5%), $base);

	border-color: desaturate(lighten($base, 2%), 10%);

	&:hover,
	&:focus {
		@include grad(desaturate(lighten($base, 20%), 5%), lighten($base, 2%));

		border-color: darken($base, 5%);
	}

	&:active {
		@include grad(lighten($base, 5%), desaturate(lighten($base, 15%), 2%));

		box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.15);
	}

	&.disabled,
	&:disabled {
		&:hover,
		&:focus,
		&:active {
			@include grad(desaturate(lighten($base, 15%), 5%), $base);

			border-color: desaturate(lighten($base, 2%), 10%);

			box-shadow: none;
		}
	}
}

@mixin blockform() {
	text-align: left;

	label {
		width: auto;
		margin-bottom: 0.2em;
		margin-left: 0.2em;

		display: inline-block;

		+ input,
		+ select,
		+ textarea {
			width: 100%;
			margin-top: 0;

			float: none;
			clear: both;
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
		margin-right: 0.5em;
		margin-left: 0.5em;

		display: inline-block;
	}

	input[type="checkbox"] {
		margin-top: 0.65em;

		float: left;
		clear: none;
	}

	input[type="radio"] {
		margin-top: 0.45em;

		float: left;
		clear: both;

		+ label {
			margin-top: 0.25em;
			margin-bottom: 0.25em;

			display: inline-block;
		}
	}
}