@charset "UTF-8";
/**
 * ================================================================================
 * Shadow CSS
 * --------------------------------------------------------------------------------
 * Author:      Andrew Hosgood
 * Version:     3.0
 * Date:        05/03/2014
 * ================================================================================
 */
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width; } }
/* ===================================================== RESET ===================================================== */
a, abbr, address, area, article, aside, audio, b, base, bdi, bdo, blockquote, body, br, button, canvas, caption, cite, code, col, colgroup, content, data, datalist, dd, decorator, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, head, header, hgroup, hr, html, i, iframe, img, input, ins, kbd, keygen, label, legend, li, link, main, map, mark, menu, menuitem, meta, meter, nav, noscript, object, ol, optgroup, option, output, p, param, pre, progress, q, rp, rt, ruby, s, samp, script, section, select, shadow, small, source, span, strong, style, sub, summary, sup, table, tbody, td, template, textarea, tfoot, th, thead, time, title, tr, track, u, ul, var, video, wbr {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  text-align: inherit;
  line-height: inherit;
  direction: inherit;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  z-index: inherit; }

html {
  min-height: 100%;
  overflow-y: auto;
  font-size: 10px; }

body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1em;
  font-size: 1rem;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, a, span, em, strong, pre {
  margin: 0;
  padding: 0;
  color: inherit;
  line-height: inherit; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold; }

ul,
ol {
  margin-left: 20px; }

ul {
  list-style: disc outside; }

ol {
  list-style: decimal outside; }

ul ul,
ol ul,
ul ol,
ol ol {
  font-size: 1em; }

pre {
  font-family: "Courier New", monospace !important; }

img {
  display: inline-block; }

a img {
  border: none; }

body,
input,
button {
  -webkit-font-smoothing: antialiased; }

/* ===================================================== MODERNIZR IMPROVEMENTS ===================================================== */
.hidden,
.js .hide-on-js,
.flexbox hide-on-flexbox,
.canvas .hide-on-canvas,
.canvastext .hide-on-canvastext,
.webgl .hide-on-webgl,
.touch .hide-on-touch,
.geolocation .hide-on-geolocation,
.postmessage .hide-on-postmessage,
.websqldatabase .hide-on-websqldatabase,
.indexeddb .hide-on-indexeddb,
.hashchange .hide-on-hashchange,
.history .hide-on-history,
.draganddrop .hide-on-draganddrop,
.websockets .hide-on-websockets,
.rgba .hide-on-rgba,
.hsla .hide-on-hsla,
.multiplebgs .hide-on-multiplebgs,
.backgroundsize .hide-on-backgroundsize,
.borderimage .hide-on-borderimage,
.borderradius .hide-on-borderradius,
.boxshadow .hide-on-boxshadow,
.textshadow .hide-on-textshadow,
.opacity .hide-on-opacity,
.cssanimations .hide-on-cssanimations,
.csscolumns .hide-on-csscolumns,
.cssgradients .hide-on-cssgradients,
.cssreflections .hide-on-cssreflections,
.csstransforms .hide-on-csstransforms,
.csstransforms3d .hide-on-csstransforms3d,
.csstransitions .hide-on-csstransitions,
.fontface .hide-on-fontface,
.generatedcontent .hide-on-generatedcontent,
.video .hide-on-video,
.audio .hide-on-audio,
.localstorage .hide-on-localstorage,
.sessionstorage .hide-on-sessionstorage,
.webworkers .hide-on-webworkers,
.applicationcache .hide-on-applicationcache,
.svg .hide-on-svg,
.inlinesvg .hide-on-inlinesvg,
.smil .hide-on-smil,
.svgclippaths .hide-on-svgclippaths,
.no-js .hide-on-no-js,
.no-flexbox .hide-on-no-flexbox,
.no-canvas .hide-on-no-canvas,
.no-canvastext .hide-on-no-canvastext,
.no-webgl .hide-on-no-webgl,
.no-touch .hide-on-no-touch,
.no-geolocation .hide-on-no-geolocation,
.no-postmessage .hide-on-no-postmessage,
.no-websqldatabase .hide-on-no-websqldatabase,
.no-indexeddb .hide-on-no-indexeddb,
.no-hashchange .hide-on-no-hashchange,
.no-history .hide-on-no-history,
.no-draganddrop .hide-on-no-draganddrop,
.no-websockets .hide-on-no-websockets,
.no-rgba .hide-on-no-rgba,
.no-hsla .hide-on-no-hsla,
.no-multiplebgs .hide-on-no-multiplebgs,
.no-backgroundsize .hide-on-no-backgroundsize,
.no-borderimage .hide-on-no-borderimage,
.no-borderradius .hide-on-no-borderradius,
.no-boxshadow .hide-on-no-boxshadow,
.no-textshadow .hide-on-no-textshadow,
.no-opacity .hide-on-no-opacity,
.no-cssanimations .hide-on-no-cssanimations,
.no-csscolumns .hide-on-no-csscolumns,
.no-cssgradients .hide-on-no-cssgradients,
.no-cssreflections .hide-on-no-cssreflections,
.no-csstransforms .hide-on-no-csstransforms,
.no-csstransforms3d .hide-on-no-csstransforms3d,
.no-csstransitions .hide-on-no-csstransitions,
.no-fontface .hide-on-no-fontface,
.no-generatedcontent .hide-on-no-generatedcontent,
.no-video .hide-on-no-video,
.no-audio .hide-on-no-audio,
.no-localstorage .hide-on-no-localstorage,
.no-sessionstorage .hide-on-no-sessionstorage,
.no-webworkers .hide-on-no-webworkers,
.no-applicationcache .hide-on-no-applicationcache,
.no-svg .hide-on-no-svg,
.no-inlinesvg .hide-on-no-inlinesvg,
.no-smil .hide-on-no-smil,
.no-svgclippaths .hide-on-no-svgclippaths {
  display: none !important; }

/* ===================================================== GENERIC ===================================================== */
body {
  color: #222;
  font-family: Helvetica, Arial, Tahoma, sans-serif; }

/* ===================================================== FORMS AND INPUTS ===================================================== */
input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

form {
  width: 100%;
  display: inline-block;
  text-align: right; }
  form input,
  form select,
  form textarea,
  form input:invalid:empty,
  form select:invalid:empty,
  form textarea:invalid:empty {
    margin: 0.2em 0;
    padding: 0.25em;
    font-size: 1.3em;
    border: 1px #CCC solid;
    border-radius: 3px; }
  form input:invalid,
  form select:invalid,
  form textarea:invalid {
    border-color: #F99;
    box-shadow: 0 0 0.5em rgba(212, 0, 0, 0.5); }
  form input:invalid:empty,
  form select:invalid:empty,
  form textarea:invalid:empty {
    border-color: #CCC; }
  form input[type="submit"],
  form input[type="reset"],
  form input[type="button"] {
    margin-top: 0.5em;
    float: right;
    clear: both; }
    form input[type="submit"] ~ input[type="submit"],
    form input[type="submit"] ~ input[type="reset"],
    form input[type="submit"] ~ input[type="button"],
    form input[type="reset"] ~ input[type="submit"],
    form input[type="reset"] ~ input[type="reset"],
    form input[type="reset"] ~ input[type="button"],
    form input[type="button"] ~ input[type="submit"],
    form input[type="button"] ~ input[type="reset"],
    form input[type="button"] ~ input[type="button"] {
      margin-right: 0.5em;
      clear: none; }
  form label {
    width: 25%;
    margin: 0.4em 0;
    padding: 1px 0;
    float: left;
    clear: both;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.3em; }
    form label + input,
    form label + select,
    form label + textarea {
      width: 75%;
      display: block;
      float: right;
      text-align: left; }
  form.labels-right label {
    text-align: right; }
  form input[type="checkbox"],
  form input[type="radio"] {
    width: auto; }
  form input[type="checkbox"] {
    margin-top: 0.4em;
    float: left; }
  form input[type="radio"] {
    margin-top: 0.5em;
    float: left; }
    form input[type="radio"] + label {
      width: auto;
      margin-top: 0.4em;
      margin-right: 1.5em;
      padding: 0 0.5em;
      float: left;
      clear: none; }

/*form.inline {
	display: block;
}

	label {
		padding-bottom: 1em;
		display: block;
		font-size: 1.3em;
	}

	label span[title] {
		border-bottom: 1px #999 dotted;
	}

	form.inline label {
		padding: 0.5em;
		overflow: hidden;
	}

	input, textarea {
		background-color: #FFF;
	}

	textarea {
		resize: vertical;
	}

	input,
	select,
	textarea,
	button {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		color: #222;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	input[type="datetime"],
	input[type="search"],
	input[type="file"],
	select,
	textarea,
	button {
		font-size: 1.3em;
	}

	input[type="password"] {
		-webkit-appearance: caps-lock-indicator;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	input[type="datetime"],
	input[type="search"],
	input[type="file"],
	select,
	textarea {
		padding: 4px;
		border: 1px #CCC solid;
		border-radius: 3px;
		-webkit-transition: border ease 200ms, box-shadow ease 200ms;
		-moz-transition: border ease 200ms, box-shadow ease 200ms;
		-ms-transition: border ease 200ms, box-shadow ease 200ms;
		-o-transition: border ease 200ms, box-shadow ease 200ms;
		transition: border ease 200ms, box-shadow ease 200ms;
	}

	textarea {
		width: 90%;
		min-width: 90px;
	}

	textarea.plain {
		font-family: "Courier New", Courier, monospace;
	}

	input[type="text"]:invalid,
	input[type="email"]:invalid,
	input[type="password"]:invalid,
	input[type="tel"]:invalid,
	input[type="number"]:invalid,
	input[type="date"]:invalid,
	input[type="time"]:invalid,
	input[type="datetime"]:invalid,
	input[type="search"]:invalid,
	input[type="file"]:invalid,
	select:invalid,
	textarea:invalid {
		background-color: #FDD;
		border-color: #EBB;
		box-shadow: none;
	}

	input[type="text"]:-webkit-autofill,
	input[type="email"]:-webkit-autofill,
	input[type="password"]:-webkit-autofill,
	input[type="tel"]:-webkit-autofill,
	input[type="number"]:-webkit-autofill,
	input[type="date"]:-webkit-autofill,
	input[type="time"]:-webkit-autofill,
	input[type="datetime"]:-webkit-autofill,
	input[type="search"]:-webkit-autofill,
	input[type="file"]:-webkit-autofill {
		background-color: #FFB;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	input[type="tel"]:focus,
	input[type="number"]:focus,
	input[type="date"]:focus,
	input[type="time"]:focus,
	input[type="datetime"]:focus,
	input[type="search"]:focus,
	input[type="file"]:focus,
	input[type="checkbox"]:focus,
	select:focus,
	textarea:focus {
		border-color: #999;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		-webkit-transition: border ease 50ms, box-shadow ease 50ms;
		-moz-transition: border ease 50ms, box-shadow ease 50ms;
		-ms-transition: border ease 50ms, box-shadow ease 50ms;
		-o-transition: border ease 50ms, box-shadow ease 50ms;
		transition: border ease 50ms, box-shadow ease 50ms;
	}

	input[type="text"].no-focus:focus,
	input[type="email"].no-focus:focus,
	input[type="password"].no-focus:focus,
	input[type="tel"].no-focus:focus,
	input[type="number"].no-focus:focus,
	input[type="date"].no-focus:focus,
	input[type="time"].no-focus:focus,
	input[type="datetime"].no-focus:focus,
	input[type="search"].no-focus:focus,
	input[type="file"].no-focus:focus,
	input[type="checkbox"].no-focus:focus,
	select.no-focus:focus,
	textarea.no-focus:focus {
		border-color: #CCC;
		box-shadow: none;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}

	input.placeholder, textarea.placeholder {
		color: #999;
	}

	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: #999;
	}

	input:-moz-placeholder, textarea:-moz-placeholder {
		color: #999;
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
		margin: 0 10px 0 0;
		display: inline-block;
		outline: none;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	input[type="datetime"],
	input[type="search"],
	input[type="file"],
	textarea {
		outline: none;
	}

	label input[type="text"],
	label input[type="email"],
	label input[type="password"],
	label input[type="tel"],
	label input[type="number"],
	label input[type="date"],
	label input[type="time"],
	label input[type="datetime"],
	label input[type="search"],
	label input[type="file"],
	label select,
	label textarea {
		display: block;
	}

	form.inline label input[type="text"],
	form.inline label input[type="email"],
	form.inline label input[type="password"],
	form.inline label input[type="tel"],
	form.inline label input[type="number"],
	form.inline label input[type="date"],
	form.inline label input[type="time"],
	form.inline label input[type="datetime"],
	form.inline label input[type="search"],
	form.inline label input[type="file"],
	form.inline label input[type="checkbox"],
	form.inline label input[type="radio"],
	form.inline label button,
	form.inline label select,
	form.inline label textarea,
	form label.inline input[type="text"],
	form label.inline input[type="email"],
	form label.inline input[type="password"],
	form label.inline input[type="tel"],
	form label.inline input[type="number"],
	form label.inline input[type="date"],
	form label.inline input[type="time"],
	form label.inline input[type="datetime"],
	form label.inline input[type="search"],
	form label.inline input[type="file"],
	form label.inline input[type="checkbox"],
	form label.inline input[type="radio"],
	form label.inline button,
	form label.inline select,
	form label.inline textarea {
		margin-top: -5px;
		display: inline-block;
		float: right;
	}

	form.inline label input[type="text"],
	form.inline label input[type="email"],
	form.inline label input[type="password"],
	form.inline label input[type="tel"],
	form.inline label input[type="number"],
	form.inline label input[type="date"],
	form.inline label input[type="time"],
	form.inline label input[type="datetime"],
	form.inline label input[type="search"],
	form.inline label input[type="file"],
	form.inline label select,
	form.inline label textarea,
	form label.inline input[type="text"],
	form label.inline input[type="email"],
	form label.inline input[type="password"],
	form label.inline input[type="tel"],
	form label.inline input[type="number"],
	form label.inline input[type="date"],
	form label.inline input[type="time"],
	form label.inline input[type="datetime"],
	form label.inline input[type="search"],
	form label.inline input[type="file"],
	form label.inline select,
	form label.inline textarea {
		width: 75%;
	}

	form.inline label button {
		width: 10%;
		margin-left: 1%;
		padding: 3px 2%;
	}

	form.inline label button ~ input[type="text"],
	form.inline label button ~ input[type="email"],
	form.inline label button ~ input[type="password"],
	form.inline label button ~ input[type="tel"],
	form.inline label button ~ input[type="number"],
	form.inline label button ~ input[type="date"],
	form.inline label button ~ input[type="time"],
	form.inline label button ~ input[type="datetime"],
	form.inline label button ~ input[type="search"],
	form.inline label button ~ input[type="file"],
	form.inline label button ~ select,
	form.inline label button ~ textarea,
	form label.inline button ~ input[type="text"],
	form label.inline button ~ input[type="email"],
	form label.inline button ~ input[type="password"],
	form label.inline button ~ input[type="tel"],
	form label.inline button ~ input[type="number"],
	form label.inline button ~ input[type="date"],
	form label.inline button ~ input[type="time"],
	form label.inline button ~ input[type="datetime"],
	form label.inline button ~ input[type="search"],
	form label.inline button ~ input[type="file"],
	form label.inline button ~ select,
	form label.inline button ~ textarea {
		width: 60%;
	}

	form.inline label input[type="checkbox"],
	form label.inline input[type="checkbox"] {
		margin-right: 75%;
	}

	form.inline label button,
	form label.inline button {
		font-size: 1em;
	}

	form.inline label + button,
	form label.inline + button,
	form.inline label + button + button,
	form label.inline + button + button,
	form.inline label + button + button + button,
	form label.inline + button + button + button {
		margin-right: 5px;
		margin-bottom: 10px;
	}

	label input[type="text"],
	p input[type="text"],
	label input[type="email"],
	p input[type="email"],
	label input[type="password"],
	p input[type="password"],
	label input[type="tel"],
	p input[type="tel"],
	label input[type="number"],
	p input[type="number"],
	label input[type="date"],
	p input[type="date"],
	label input[type="time"],
	p input[type="time"],
	label input[type="datetime"],
	p input[type="datetime"],
	label input[type="search"],
	p input[type="search"],
	label input[type="file"],
	p input[type="file"],
	label input[type="radio"],
	p input[type="radio"],
	label select,
	p select,
	label textarea,
	p textarea {
		font-size: 1em;
	}

	label input[type="text"],
	label input[type="email"],
	label input[type="password"],
	label input[type="tel"],
	label input[type="number"],
	label input[type="date"],
	label input[type="time"],
	label input[type="datetime"],
	label input[type="search"],
	label input[type="file"],
	label select,
	label textarea {
		margin-top: 5px;
		margin-right: auto;
		margin-left: 0;
	}

	input[type="radio"] {
		display: none;
	}

	label input[type="radio"] {
		display: inline-block;
	}

	input[type="radio"] + label,
	input[type="radio"]:disabled + label:hover,
	input[type="radio"]:disabled + label:active {
		padding: 5px 15px;
		display: inline-block;
		position: relative;
		left: -7px;
		font-size: 1.3em;
		background: #F2F2F2;
		background: -moz-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8));
		background: -webkit-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
		background: -o-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
		background: -ms-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
		background: linear-gradient(to bottom, #f2f2f2 0%, #d8d8d8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#D8D8D8',GradientType=0);
		border: 1px #CCC solid;
		border-radius: 3px;
		box-shadow: none;
		-webkit-transition: border 200ms ease, box-shadow 200ms ease;
		-moz-transition: border 200ms ease, box-shadow 200ms ease;
		-ms-transition: border 200ms ease, box-shadow 200ms ease;
		-o-transition: border 200ms ease, box-shadow 200ms ease;
		transition: border 200ms ease, box-shadow 200ms ease;
		cursor: pointer;
	}

	input[type="radio"] + label + input[type="radio"] + label {
		margin-left: 5px;
	}

	input[type="radio"]:checked + label,
	input[type="radio"] + label:hover {
		border-color: #999;
		-webkit-transition: border 50ms ease, box-shadow 50ms ease;
		-moz-transition: border 50ms ease, box-shadow 50ms ease;
		-ms-transition: border 50ms ease, box-shadow 50ms ease;
		-o-transition: border 50ms ease, box-shadow 50ms ease;
		transition: border 50ms ease, box-shadow 50ms ease;
	}

	input[type="radio"] + label:hover {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}

	input[type="radio"]:checked + label,
	input[type="radio"]:checked:disabled + label {
		color: #FFF;
		text-shadow: 0 0 3px #999;
		background: #999;
		background: -moz-linear-gradient(top, #999999 0%, #cccccc 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #cccccc));
		background: -webkit-linear-gradient(top, #999999 0%, #cccccc 100%);
		background: -o-linear-gradient(top, #999999 0%, #cccccc 100%);
		background: -ms-linear-gradient(top, #999999 0%, #cccccc 100%);
		background: linear-gradient(to bottom, #999999 0%, #cccccc 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#CCCCCC',GradientType=0);
	}

	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: #999;
		font-style: italic;
	}

	input::-moz-placeholder,
	textarea::-moz-placeholder {
		color: #999;
		font-style: italic;
	}

	input:-moz-placeholder,
	textarea:-moz-placeholder {
		color: #999;
		font-style: italic;
	}

	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
		color: #999;
		font-style: italic;
	}

	input:invalid::-webkit-input-placeholder,
	textarea:invalid::-webkit-input-placeholder {
		color: #966;
	}

	input:invalid::-moz-placeholder,
	textarea:invalid::-moz-placeholder {
		color: #966;
	}

	input:invalid:-moz-placeholder,
	textarea:invalid:-moz-placeholder {
		color: #966;
	}

	input:invalid:-ms-input-placeholder,
	textarea:invalid:-ms-input-placeholder {
		color: #966;
	}

	select {
		min-width: 90px;
		border: 1px #CCC solid;
		border-radius: 3px;
	}

	optgroup option {
		padding-left: 1.5em;
	}*/
/* ===================================================== BUTTONS ===================================================== */
form input[type="submit"],
form input[type="reset"],
form input[type="button"],
button,
a.button {
  width: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="submit"],
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active,
input[type="reset"],
input[type="reset"]:disabled:hover,
input[type="reset"]:disabled:active,
input[type="button"],
input[type="button"]:disabled:hover,
input[type="button"]:disabled:active,
input[type="submit"].grey,
input[type="submit"].grey:disabled:hover,
input[type="submit"].grey:disabled:active,
button[type="submit"].grey,
button[type="submit"].grey:disabled:hover,
button[type="submit"].grey:disabled:active,
button,
button:disabled:hover,
button:disabled:active,
.button,
.button.disabled:hover,
.button.disabled:active,
a.button[href=""],
a.button[href=""]:hover,
a.button[href=""]:active {
  height: 1em;
  padding: 0.5em 0.75em;
  display: inline-block;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  vertical-align: top;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #d8d8d8 100%);
  border: 1px #CCC solid;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
  -moz-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
  -ms-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
  -o-transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
  transition: background ease 200ms, border ease 200ms, box-shadow ease 200ms, opacity ease 400ms;
  cursor: pointer; }

input[type="submit"][class^="fa-"],
input[type="submit"][class*=" fa-"],
input[type="reset"][class^="fa-"],
input[type="reset"][class*=" fa-"],
input[type="button"][class^="fa-"],
input[type="button"][class*=" fa-"],
button[class^="fa-"],
button[class*=" fa-"],
.button[class^="fa-"],
.button[class*=" fa-"] {
  padding-left: 0.625em; }

input.align-fa-right[type="submit"][class^="fa-"],
input.align-fa-right[type="submit"][class*=" fa-"],
input.align-fa-right[type="reset"][class^="fa-"],
input.align-fa-right[type="reset"][class*=" fa-"],
input.align-fa-right[type="button"][class^="fa-"],
input.align-fa-right[type="button"][class*=" fa-"],
button.align-fa-right[class^="fa-"],
button.align-fa-right[class*=" fa-"],
.button.align-fa-right[class^="fa-"],
.button.align-fa-right[class*=" fa-"] {
  padding-right: 0.625em;
  padding-left: 0.75em; }

input[type="submit"][class^="fa-"]::before,
input[type="submit"][class*=" fa-"]::before,
input[type="reset"][class^="fa-"]::before,
input[type="reset"][class*=" fa-"]::before,
input[type="button"][class^="fa-"]::before,
input[type="button"][class*=" fa-"]::before,
button[class^="fa-"]::before,
button[class*=" fa-"]::before,
.button[class^="fa-"]::before,
.button[class*=" fa-"]::before {
  margin-right: 0.75em;
  margin-left: 0;
  vertical-align: top; }

input.align-fa-right[type="submit"][class^="fa-"]::before,
input.align-fa-right[type="submit"][class*=" fa-"]::before,
input.align-fa-right[type="reset"][class^="fa-"]::before,
input.align-fa-right[type="reset"][class*=" fa-"]::before,
input.align-fa-right[type="button"][class^="fa-"]::before,
input.align-fa-right[type="button"][class*=" fa-"]::before,
button.align-fa-right[class^="fa-"]::before,
button.align-fa-right[class*=" fa-"]::before,
.button.align-fa-right[class^="fa-"]::before,
.button.align-fa-right[class*=" fa-"]::before {
  margin-right: 0;
  margin-left: 0.75em;
  float: right; }

input[type="submit"][class^="fa-"]:empty,
input[type="submit"][class*=" fa-"]:empty,
input[type="reset"][class^="fa-"]:empty,
input[type="reset"][class*=" fa-"]:empty,
input[type="button"][class^="fa-"]:empty,
input[type="button"][class*=" fa-"]:empty,
button[class^="fa-"]:empty,
button[class*=" fa-"]:empty,
.button[class^="fa-"]:empty,
.button[class*=" fa-"]:empty {
  padding-right: 0.625em; }

input[type="submit"][class^="fa-"]:empty::before,
input[type="submit"][class*=" fa-"]:empty::before,
input[type="reset"][class^="fa-"]:empty::before,
input[type="reset"][class*=" fa-"]:empty::before,
input[type="button"][class^="fa-"]:empty::before,
input[type="button"][class*=" fa-"]:empty::before,
button[class^="fa-"]:empty::before,
button[class*=" fa-"]:empty::before,
.button[class^="fa-"]:empty::before,
.button[class*=" fa-"]:empty::before {
  margin-right: 0; }

input.align-fa-right[type="submit"][class^="fa-"]:empty::before,
input.align-fa-right[type="submit"][class*=" fa-"]:empty::before,
input.align-fa-right[type="reset"][class^="fa-"]:empty::before,
input.align-fa-right[type="reset"][class*=" fa-"]:empty::before,
input.align-fa-right[type="button"][class^="fa-"]:empty::before,
input.align-fa-right[type="button"][class*=" fa-"]:empty::before,
button.align-fa-right[class^="fa-"]:empty::before,
button.align-fa-right[class*=" fa-"]:empty::before,
.button.align-fa-right[class^="fa-"]:empty::before,
.button.align-fa-right[class*=" fa-"]:empty::before {
  margin-right: 0;
  margin-left: 0; }

form input[type="submit"],
form input[type="submit"]:disabled:hover,
form input[type="submit"]:disabled:active,
form input[type="reset"],
form input[type="reset"]:disabled:hover,
form input[type="reset"]:disabled:active,
form input[type="button"],
form input[type="button"]:disabled:hover,
form input[type="button"]:disabled:active,
form button,
form button:disabled:hover,
form button:disabled:active {
  margin-right: 0;
  margin-left: auto;
  display: block; }

form button + button,
form button + input[type="submit"],
form button + input[type="reset"],
form button + input[type="button"],
form input[type="submit"] + button,
form input[type="reset"] + button,
form input[type="button"] + button,
form input[type="reset"] + input[type="submit"],
form input[type="button"] + input[type="submit"],
form input[type="button"] + input[type="reset"] {
  margin-top: 5px; }

form hr {
  margin: 0.5em 0 1em; }

form hr + input[type="submit"],
form hr + input[type="submit"] + input[type="reset"],
form hr + input[type="submit"] + input[type="reset"] + button,
form hr + input[type="submit"] + button,
form hr + input[type="submit"] + button + button,
form hr + input[type="submit"] + button + input[type="reset"],
form hr + input[type="submit"] + button + button + input[type="reset"],
form hr + input[type="reset"],
form hr + input[type="reset"] + input[type="submit"],
form hr + input[type="reset"] + input[type="submit"] + button,
form hr + input[type="reset"] + button,
form hr + input[type="reset"] + button + button,
form hr + input[type="reset"] + button + input[type="submit"],
form hr + input[type="reset"] + button + button + input[type="submit"],
form hr + input[type="button"],
form hr + input[type="button"] + input[type="submit"],
form hr + input[type="button"] + input[type="submit"] + button,
form hr + input[type="button"] + button,
form hr + input[type="button"] + button + button,
form hr + input[type="button"] + button + input[type="submit"],
form hr + input[type="button"] + button + button + input[type="submit"],
form hr + button,
form hr + button + input[type="submit"],
form hr + button + input[type="reset"],
form hr + button + input[type="button"],
form hr + button + button,
form hr + button + button + input[type="submit"],
form hr + button + button + input[type="reset"],
form hr + button + button + input[type="button"],
form hr + button + button + button {
  margin: 0 0 0 10px !important;
  display: block;
  float: right; }

button.dark,
button.dark:disabled:hover,
button.dark:disabled:active,
.button.dark,
.button.dark.disabled:hover,
.button.dark.disabled:active,
a.button.dark[href=""]:hover,
a.button.dark[href=""]:active {
  color: #FFF;
  text-shadow: 0 0 3px #222;
  background: #555555;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
  border-color: #222; }

input[type="submit"],
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active,
button[type="submit"],
button[type="submit"]:disabled:hover,
button[type="submit"]:disabled:active,
button.blue,
button.blue:disabled:hover,
button.blue:disabled:active,
.button.blue,
.button.blue.disabled:hover,
.button.blue.disabled:active,
a.button.blue[href=""]:hover,
a.button.blue[href=""]:active {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 0 3px #005DE8;
  background: #5599ff;
  background: -moz-linear-gradient(top, #5599ff 0%, #066aff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5599ff), color-stop(100%, #066aff));
  background: -webkit-linear-gradient(top, #5599ff 0%, #066aff 100%);
  background: -o-linear-gradient(top, #5599ff 0%, #066aff 100%);
  background: -ms-linear-gradient(top, #5599ff 0%, #066aff 100%);
  background: linear-gradient(to bottom, #5599ff 0%, #066aff 100%);
  border-color: #1F79FF; }

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:active,
input[type="submit"].grey:hover,
input[type="submit"].grey:active,
button[type="submit"].grey:hover,
button[type="submit"].grey:active,
button:hover,
button:active,
.button:hover,
.button:active {
  border-color: #999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms;
  -moz-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms;
  -ms-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms;
  -o-transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms;
  transition: background ease 50ms, border ease 50ms, box-shadow ease 50ms, opacity ease 400ms; }

button.dark:hover,
button.dark:active,
.button.dark:hover,
.button.dark:active {
  background: #777777;
  background: -moz-linear-gradient(top, #777777 0%, #333333 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777777), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top, #777777 0%, #333333 100%);
  background: -o-linear-gradient(top, #777777 0%, #333333 100%);
  background: -ms-linear-gradient(top, #777777 0%, #333333 100%);
  background: linear-gradient(to bottom, #777777 0%, #333333 100%);
  border-color: #111; }

input[type="submit"]:hover,
input[type="submit"]:active,
button[type="submit"]:hover,
button[type="submit"]:active,
button.blue:hover,
button.blue:active,
.button.blue:hover,
.button.blue:active {
  background: #6ea8ff;
  background: -moz-linear-gradient(top, #6ea8ff 0%, #1f79ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6ea8ff), color-stop(100%, #1f79ff));
  background: -webkit-linear-gradient(top, #6ea8ff 0%, #1f79ff 100%);
  background: -o-linear-gradient(top, #6ea8ff 0%, #1f79ff 100%);
  background: -ms-linear-gradient(top, #6ea8ff 0%, #1f79ff 100%);
  background: linear-gradient(to bottom, #6ea8ff 0%, #1f79ff 100%);
  border-color: #005DE8; }

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"].grey:active,
button[type="submit"].grey:active,
button:active,
.button:active {
  background: #cccccc;
  background: -moz-linear-gradient(top, #cccccc 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #cccccc 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #cccccc 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #cccccc 0%, #dddddd 100%);
  background: linear-gradient(to bottom, #cccccc 0%, #dddddd 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.2); }

button.dark:active,
.button.dark:active {
  background: #333333;
  background: -moz-linear-gradient(top, #333333 0%, #777777 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #777777));
  background: -webkit-linear-gradient(top, #333333 0%, #777777 100%);
  background: -o-linear-gradient(top, #333333 0%, #777777 100%);
  background: -ms-linear-gradient(top, #333333 0%, #777777 100%);
  background: linear-gradient(to bottom, #333333 0%, #777777 100%);
  border-color: #111;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.15); }

input[type="submit"]:active,
button[type="submit"]:active,
button.blue:active,
.button.blue:active {
  background: #1f79ff;
  background: -moz-linear-gradient(top, #1f79ff 0%, #6ea8ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f79ff), color-stop(100%, #6ea8ff));
  background: -webkit-linear-gradient(top, #1f79ff 0%, #6ea8ff 100%);
  background: -o-linear-gradient(top, #1f79ff 0%, #6ea8ff 100%);
  background: -ms-linear-gradient(top, #1f79ff 0%, #6ea8ff 100%);
  background: linear-gradient(to bottom, #1f79ff 0%, #6ea8ff 100%);
  border-color: #005DE8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(0, 0, 0, 0.15); }

input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
button:disabled,
input[type="radio"]:checked:disabled ~ label {
  opacity: 0.35; }

/* ===================================================== LISTS ===================================================== */
ul,
ol,
dl {
  margin-bottom: 1.5em;
  font-size: 1.3em; }

li > ul,
li > ol,
li > dl,
li > p,
li > pre,
li > label,
li > input,
li > select,
li > textarea,
li > button,
dd > ul,
dd > ol,
dd > dl,
dd > p,
dd > pre,
dd > label,
dd > input,
dd > select,
dd > textarea,
dd > button {
  margin-bottom: 0;
  font-size: 1em; }

ul,
ol {
  margin-left: 2em; }

li {
  line-height: 1.5em; }

ul.plain,
ol.plain {
  margin: 0;
  list-style: none; }

ul.plain li,
ol.plain li {
  line-height: normal; }

dl {
  padding-bottom: 0.5em;
  border-bottom: 1px #CCC solid; }

dl dl {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none; }

dl.inline {
  overflow: hidden; }

dt,
dd {
  line-height: 1.35em; }

dt {
  font-weight: bold; }

dt,
dl.inline > dt,
dl.inline > dd {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px #CCC solid; }

dl dl dt,
dl dl.inline > dt,
dl dl.inline > dd {
  		/*margin-top: 0;
  		padding-top: 0;
  
  		border-top: none;*/ }

dl dl dt:first-child,
dl dl dt:first-child + dd {
  padding-top: 0;
  border-top: none; }

dl.inline > dt:first-child,
dl.inline > dt:first-child + dd {
  margin-top: 0; }

dt:first-child {
  margin-top: 0; }

dl.inline > dt,
dl.inline > dd {
  display: block;
  float: left; }

dl.inline > dt {
  width: 35%;
  clear: both; }

dl.inline > dd {
  width: 65%; }

dl.inline > dd + dd {
  margin-left: 35%; }

dd ul {
  margin-left: 0;
  list-style: none; }

ul.block-list,
ul.inline-block-list {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
  background: #F2F2F2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#D8D8D8',GradientType=0);
  border: 1px #CCC solid;
  border-radius: 3px;
  /*-webkit-transition: border 200ms ease, box-shadow 200ms ease;
  -moz-transition: border 200ms ease, box-shadow 200ms ease;
  -ms-transition: border 200ms ease, box-shadow 200ms ease;
  -o-transition: border 200ms ease, box-shadow 200ms ease;
  transition: border 200ms ease, box-shadow 200ms ease;*/ }

ul.inline-block-list {
  overflow: hidden; }

/*ul.block-list:hover {
	border-color: #999;

	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}*/
ul.inline-block-list li {
  display: inline-block;
  float: left; }

ul.block-list li a,
ul.inline-block-list li a {
  padding: 4px 10px;
  position: relative;
  text-decoration: none;
  outline: none;
  -webkit-transition: text-indent 200ms ease, background 200ms ease;
  -moz-transition: text-indent 200ms ease, background 200ms ease;
  -ms-transition: text-indent 200ms ease, background 200ms ease;
  -o-transition: text-indent 200ms ease, background 200ms ease;
  transition: text-indent 200ms ease, background 200ms ease; }

ul.block-list li a {
  display: block;
  border-top: 1px #FFF solid;
  border-bottom: 1px #CCC solid; }

ul.inline-block-list li a {
  display: block;
  border-left: 1px #FFF solid;
  border-right: 1px #CCC solid; }

ul.block-list li:first-child a {
  border-top: none; }

ul.inline-block-list li:first-child a {
  border-left: none; }

ul.block-list li:last-child a {
  border-bottom: none; }

ul.block-list li a:hover,
ul.inline-block-list li a:hover {
  background-color: rgba(255, 255, 255, 0.45); }

ul.block-list li a:hover {
  text-indent: 5px; }

ul.block-list li a:active,
ul.inline-block-list li a:active {
  background-color: rgba(255, 255, 255, 0.6); }

ul.inline-block-list.marker-down li.selected a::before,
ul.inline-block-list.marker-down li.selected a:after {
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  border-style: solid;
  border-color: transparent transparent;
  -webkit-transition: border-color 200ms ease;
  -moz-transition: border-color 200ms ease;
  -ms-transition: border-color 200ms ease;
  -o-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  content: ""; }

ul.inline-block-list.marker-down li.selected a::before {
  margin-left: -8px;
  border-width: 8px;
  border-top-color: #CCC; }

ul.inline-block-list.marker-down li.selected a:after {
  margin-left: -7px;
  border-width: 7px;
  border-top-color: #D8D8D8; }

ul.inline-block-list.marker-down li.selected a:hover:after {
  border-top-color: #EAEAEA; }

ul.block-list li ul {
  margin: 0;
  list-style: none;
  border-top: 1px #FFF solid;
  border-bottom: 1px #CCC solid; }

ul.block-list li li a {
  padding-left: 25px; }

ul.block-list li li li a {
  padding-left: 40px; }

ul.block-list li li li li a {
  padding-left: 55px; }

ul.block-list li li li li li a {
  padding-left: 70px; }

ul.block-list li li li li li li a {
  padding-left: 85px; }

ul.block-list li li li li li li li a {
  padding-left: 100px; }

ul.block-list li li li li li li li li a {
  padding-left: 115px; }

ul.block-list li li li li li li li li li a {
  padding-left: 130px; }

ul.block-list li li li li li li li li li li a {
  padding-left: 145px; }

ul.block-list li li li li li li li li li li li a {
  padding-left: 160px; }

ul.inline-list {
  margin-left: 0;
  overflow: hidden; }

ul.inline-list li {
  display: inline-block;
  float: left; }

ul.inline-list li + li::before {
  padding: 0 0.5em;
  display: inline-block;
  content: "|"; }

/* ===================================================== TABLES ===================================================== */
table {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  border-collapse: collapse;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/ }

thead {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #d8d8d8 100%); }

.ubuntu thead {
  font-family: "Ubuntu", Helvetica, Arial, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 1.4em; }

thead.no-background {
  background: none; }

tbody,
tfoot {
  font-size: 1.2em; }

tr.disabled {
  color: #666;
  font-style: italic;
  background-color: #F2F2F2; }

tr.details {
  display: none; }

th,
td {
  min-width: 5px;
  padding: 5px 10px;
  border: 1px #CCC solid;
  -webkit-transition: background 400ms ease;
  -moz-transition: background 400ms ease;
  -ms-transition: background 400ms ease;
  -o-transition: background 400ms ease;
  transition: background 400ms ease; }

th.no-border,
td.no-border {
  border: none; }

th {
  text-align: left; }

table a {
  color: #222;
  font-style: normal; }

table p,
table ul,
table ol,
table label {
  font-size: 1em; }

table p {
  margin: 5px 0; }

table ul {
  margin-left: 15px; }

table.highlight-hover-row tbody tr:hover th,
table.highlight-hover-row tbody tr:hover td {
  background-color: #DEF;
  -webkit-transition: background 50ms ease;
  -moz-transition: background 50ms ease;
  -ms-transition: background 50ms ease;
  -o-transition: background 50ms ease;
  transition: background 50ms ease; }

table button {
  font-size: 1.16666em; }

/* ===================================================== TEXT ===================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 1em;
  page-break-after: avoid; }

/*h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,*/
h1.no-top-margin,
h2.no-top-margin,
h3.no-top-margin,
h4.no-top-margin,
h5.no-top-margin,
h6.no-top-margin {
  margin-top: 0; }

h1 {
  font-size: 3.5em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2.5em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.75em; }

h6 {
  font-size: 1.5em; }

p {
  margin-bottom: 0.5em;
  font-size: 1.3em;
  line-height: 1.35em;
  word-break: normal;
  /*-webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;*/
  orphans: 3;
  widows: 3; }

h1.right,
h2.right,
h3.right,
h4.right,
h5.right,
h6.right,
p.right {
  text-align: right; }

small {
  font-size: 0.75em; }

pre,
code {
  margin-bottom: 1em;
  display: block;
  font-family: "Courier New", Courier, monospace, mono;
  font-size: 1.3em;
  line-height: 1.25em;
  white-space: pre-wrap; }

blockquote {
  margin: 0.25em 0 0.75em;
  padding: 0.25em 0.25em 0.25em 1em;
  color: #555;
  font-size: 1.5em;
  /*font-style: italic;*/
  line-height: 1.25em;
  white-space: pre-wrap;
  border-left: 0.35em #CCC solid; }
  blockquote p {
    margin-bottom: 0;
    font-size: 1em;
    line-height: 0.74em; }

sup,
sub {
  position: relative;
  top: -0.4em;
  font-size: 0.75em;
  vertical-align: baseline; }

sub {
  top: 0.4em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/* ===================================================== OTHER ===================================================== */
hr {
  width: 100%;
  height: 0;
  margin: 1.5em 0;
  display: block;
  clear: both;
  font-size: 1.3em;
  line-height: 1.25em;
  border: #CCC solid;
  border-width: 1px 0 0; }

/* ===================================================== GENERIC CLASSES ===================================================== */
.float-right {
  float: right; }

.float-left {
  float: left; }

/* ===================================================== NOTICES ===================================================== */
.error,
.warning,
.notice,
.success {
  min-height: 16px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  border: 1px #000 solid;
  border-radius: 3px;
  z-index: 3; }

.error > :first-child,
.warning > :first-child,
.notice > :first-child,
.success > :first-child {
  margin-top: 0;
  padding-top: 0; }

.error > :last-child,
.warning > :last-child,
.notice > :last-child,
.success > :last-child {
  margin-bottom: 0;
  padding-bottom: 0; }

p.error,
p.warning,
p.notice,
p.success {
  padding: 0.25em 0.5em; }

.error {
  background-color: rgba(204, 0, 0, 0.2);
  border-color: #C00; }

.warning {
  background-color: rgba(255, 204, 0, 0.2);
  border-color: #FC0; }

.notice {
  background-color: rgba(0, 102, 204, 0.2);
  border-color: #06C; }

.success {
  background-color: rgba(0, 204, 0, 0.2);
  border-color: #0C0; }
