$intMobileLarge: 481px;
$intTabletSmall: 659px;
$intTabletLarge: 769px;
$intDesktop: 1025px;

/* ===================================================== RESPONSIVE ELEMENTS ===================================================== */
[class^="show-on-"],
[class*=" show-on-"] {
	display: none;
}

.oldie .show-on-desktop {
	display: block;
}

.oldie .noshow-on-desktop {
	display: none;
}

/* ----------------------------------------------------- SMALL MOBILE (iPhone Portrait) ----------------------------------------------------- */
@media (max-width: $intMobileLarge - 1) {
	.noshow-on-mobile-p {
		display: none;
	}

	.show-on-mobile-p {
		display: block;
	}
}

/* ----------------------------------------------------- LARGE MOBILE (iPhone Landscape) ----------------------------------------------------- */
@media (min-width: $intMobileLarge) and (max-width: $intTabletSmall - 1) {
	.noshow-on-mobile-l {
		display: none;
	}

	.show-on-mobile-l {
		display: block;
	}
}

/* ----------------------------------------------------- MOBILE (iPhone) ----------------------------------------------------- */
@media (max-width: $intTabletSmall - 1) {
	.noshow-on-mobile {
		display: none;
	}

	.show-on-mobile {
		display: block;
	}
}

/* ----------------------------------------------------- SMALL TABLET ----------------------------------------------------- */
@media (min-width: $intTabletSmall) and (max-width: $intTabletLarge - 1) {
	.noshow-on-tablet-p {
		display: none;
	}

	.show-on-tablet-p {
		display: block;
	}
}

/* ----------------------------------------------------- LARGE TABLET (iPad) ----------------------------------------------------- */
@media (min-width: $intTabletLarge) and (max-width: $intDesktop - 1) {
	.noshow-on-tablet-l {
		display: none;
	}

	.show-on-tablet-l {
		display: block;
	}
}

/* ----------------------------------------------------- TABLET (iPad) ----------------------------------------------------- */
@media (min-width: $intTabletSmall) and (max-width: $intDesktop - 1) {
	.noshow-on-tablet {
		display: none;
	}

	.show-on-tablet {
		display: block;
	}
}

/* ----------------------------------------------------- DESKTOP ----------------------------------------------------- */
@media (min-width: $intDesktop) {
	.noshow-on-desktop {
		display: none;
	}

	.show-on-desktop {
		display: block;
	}
}

/* ===================================================== GROWING TEXT ===================================================== */
/* ----------------------------------------------------- MOBILE (iPhone) ----------------------------------------------------- */
@media (max-device-width: $intTabletSmall - 1) {
	html {
		&.grow-font {
			font-size: 12px;
		}
	}
}

/* ----------------------------------------------------- TABLET (iPad) ----------------------------------------------------- */
@media (min-device-width: $intTabletSmall) and (max-device-width: $intDesktop - 1) {
	html {
		&.grow-font {
			font-size: 11px;
		}
	}
}

/* ===================================================== CONDITIONAL VISIBILITY ===================================================== */
.hidden,
.no-show {
	display: none !important;
}

@media screen {
	.no-show-on-screen {
		display: none !important;
	}
}

@media print {
	.no-show-on-print {
		display: none !important;
	}
}