/* ===================================================== FORMS AND INPUTS ===================================================== */
input,
select,
textarea {
	padding: 0.25em;

	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-weight: 400;

	background-color: #FFF;

	border: 1px #CCC solid;
	border-radius: 3px;
}

	optgroup,
	option {
		padding-right: 1em;
	}

		optgroup option {
			padding-left: 1em;
		}

		option:disabled {
			color: #AAA;
		}

form.inline,
form.block,
form.linear {
	textarea {
		min-height: 2em;

		resize: vertical;
	}

	input {
		&:valid {
			&:focus {
				background-color: #E6FAE6;

				border-color: #0C0;

				box-shadow: 0 0 0.5em rgba(0, 212, 0, 0.5);
			}
		}
	}

	input[type="text"],
	input[type="search"],
	input[type="checkbox"],
	input[type="radio"] {
		&:valid {
			&:focus {
				background-color: #FFF;

				border-color: #FB0;

				box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);
			}
		}
	}

	input,
	select,
	textarea {
		&:focus {
			border-color: #FB0;

			box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);
		}

		&:invalid {
			background-color: #FAE6E6;

			border-color: #C00;

			box-shadow: none;

			&:focus {
				box-shadow: 0 0 0.5em rgba(212, 0, 0, 0.5);
			}

			/*&:required {
				//background-color: #FFF5CC;

				border-color: #FC0;

				&:focus {
					box-shadow: none;
				}
			}*/
		}

		&:disabled,
		&[readonly] {
			color: #AAA;

			background-color: #EEE;

			&:focus {
				box-shadow: none !important;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl {
		clear: both;

		text-align: left;
	}
}

form.inline,
form.block {
	display: block;

	text-align: right;

	label {
		width: 23%;
		margin: 0.4em 2% 0.4em 0;
		padding: 1px 0;

		float: left;
		clear: both;

		@include basefontsize;
		font-weight: 400;
		text-align: left;
		line-height: #{$baseFontSize}em;

		&.button {
			line-height: 2.1em;
		}
	}

	&.labels-right label {
		text-align: right;
	}

	input,
	select,
	textarea {
		width: 75%;
		margin: 0.2em 0;

		display: block;

		float: right;

		@include basefontsize;
		text-align: left;

		&::-webkit-input-placeholder {
			color: #999;
			font-weight: 400;
		}

		&:-moz-placeholder {
			color: #999;
			font-weight: 400;
		}

		&::-moz-placeholder {
			color: #999;
			font-weight: 400;
		}

		&:-ms-input-placeholder {
			color: #999;
			font-weight: 400;
		}

		&.full {
			width: 100%;

			clear: both;
		}

		&.large {
			font-size: 2.1em;
		}
	}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		width: auto;
		margin-top: 0.5em;

		float: right;
		clear: both;

		+ input[type="submit"],
		+ input[type="reset"],
		+ input[type="button"],
		+ button,
		+ .button {
			margin-right: 0.5em;

			clear: none;
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;

		float: left;
	}

	input[type="checkbox"] {
		margin-top: 0.65em;
	}

	input[type="radio"] {
		margin-top: 0.55em;

		+ label {
			width: auto;
			margin-top: 0.4em;
			margin-right: 1.5em;
			padding: 0 0.5em;

			float: left;
			clear: none;

			font-weight: inherit;
		}

		&:disabled,
		&[readonly] {
			+ label {
				color: #AAA;
			}
		}
	}
}

form.block {
	@include blockform();
}

form.linear {
	padding: 0.5em 0;

	display: block;

	overflow: hidden;

	label,
	input,
	select,
	button {
		float: left;

		@include basefontsize;
	}

	label,
	input {
		line-height: #{$baseFontSize}em;
	}

	label {
		margin: 1px 0.5em 1px 0;
		padding: 0.25em 0;

		font-weight: 400;
	}

	select {
		height: 1.8em;
		margin-top: 1px;
		padding: 2px;
	}

	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		height: 1.7em;
		margin-left: 1.5em;

		line-height: 1em;

		+ input[type="submit"],
		+ input[type="reset"],
		+ input[type="button"],
		+ button,
		+ .button {
			margin-left: 0.5em;
		}
	}

	input,
	select,
	button {
		+ label {
			margin-left: 1.5em;
		}
	}
}

@media screen and (max-width: $intTabletSmall - 1) {
	form.inline.foldable {
		@include blockform();
	}
}