/* ===================================================== GENERIC ===================================================== */
body {
	@include basefontcolour;
	@include basefontface;
	font-weight: 300;
}

.clear {
	display: block;
	visibility: hidden;

	clear: both;

	overflow: hidden;
}