/* ===================================================== GENERIC ===================================================== */
body {
	@include basefont;
}

.clear {
	display: block;
	visibility: hidden;

	clear: both;

	overflow: hidden;
}