/* ===================================================== LISTS ===================================================== */
ul,
ol,
dl {
	margin-bottom: 1.5em;

	font-size: 1.3em;
}

li,
dd {
	> ul,
	> ol,
	> dl,
	> p,
	> pre,
	> label,
	> input,
	> select,
	> textarea,
	> button {
		font-size: 1em;
	}

	> ul,
	> ol,
	> dl,
	> p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

ul,
ol {
	margin-left: 2em;
}

	li {
		line-height: 1.5em;
	}

ul.plain,
ol.plain {
	margin: 0;

	list-style: none;

	ul,
	ol {
		margin-left: 0;

		list-style: none;
	}

	li {
		line-height: normal;
	}
}

dl {
	padding-bottom: 0.5em;

	border-bottom: 1px #CCC solid;

	dl {
		margin-bottom: 0;
		padding-bottom: 0;

		border-bottom: none;
	}

	&.inline {
		overflow: hidden;
	}
}

	dt,
	dd {
		line-height: 1.35em;
	}

	dt {
		font-weight: 800;
	}

	dt,
	dl.inline > dt,
	dl.inline > dd {
		margin-top: 0.5em;
		padding-top: 0.5em;

		border-top: 1px #CCC solid;
	}

	dl dl dt,
	dl dl.inline > dt,
	dl dl.inline > dd {}

	dl dl dt:first-child,
	dl dl dt:first-child + dd {
		padding-top: 0;

		border-top: none;
	}

	dl.inline > dt:first-child,
	dl.inline > dt:first-child + dd {
		margin-top: 0;
	}

	dt:first-child {
		margin-top: 0;
	}

	dd {}

	dl.inline > dt,
	dl.inline > dd {
		display: block;

		float: left;
	}

	dl.inline > dt {
		width: 35%;

		clear: both;
	}

	dl.inline > dd {
		width: 65%;
	}

	dl.inline > dd + dd {
		margin-left: 35%;
	}

	dd ul {
		margin-left: 0;

		list-style: none;
	}

ul.inline {
	margin-left: 0;

	overflow: hidden;

	li {
		display: inline-block;

		float: left;

		white-space: nowrap;
	}

	li + li {}

	li + li::before {
		padding: 0 0.5em;

		display: inline-block;

		content: "|";
	}
}

ul.tabs {
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 0;
	padding: 0 0.25em;

	position: relative;

	overflow-x: auto;
	overflow-y: hidden;

	white-space: nowrap;

	//border-bottom: 1px #CCC solid;

	li {
		margin: 0 0.25em;
		//padding-bottom: 1px;

		display: inline-block;

		position: relative;

		white-space: nowrap;
		vertical-align: bottom;

		background-color: #FFF;

		border: #CCC solid;
		border-width: 1px 1px 0;
		border-radius: 3px 3px 0 0;

		z-index: 1;

		a {
			padding: 0.5em 1em;

			display: block;

			font-weight: 400;
			line-height: 1em;
			white-space: nowrap;
			text-decoration: none;

			box-shadow: inset 0 -0.75em 1.5em -0.75em rgba(0, 0, 0, 0.15);
		}

		&.primary {
			a {
				font-weight: 800;
			}
		}

		&.current {
			margin-top: 0;

			z-index: 3;

			&::after {
				height: 0;

				position: absolute;
				top: 100%;
				right: 0;
				left: 0;

				border-top: 1px #FFF solid;

				content: "";
			}

			a {
				box-shadow: none;
			}
		}

		&.disabled {
			color: #999;

			background-color: #EEE;

			border-color: #DDD;

			a {
				border-top-color: #EEE;

				cursor: default;
			}
		}
	}

	&::before {
		width: 100%;
		height: 1px;

		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: #CCC;

		z-index: 2;

		content: "";
	}

	&::after {
		width: 100%;
		height: 0;

		display: block;
		visibility: hidden;

		overflow: hidden;

		clear: both;

		content: "";
	}
}

ul.tree {
	margin-left: 1em;

	list-style: none;

	ul {
		margin-left: 0;
		padding-left: 2em;

		list-style: none;

		&::before {
			display: block;

			position: absolute;
			top: 1.5em;
			bottom: 0.75em;
			left: 0.75em;

			border-left: 1px #CCC solid;

			content: "";

			z-index: 1;
		}
	}

	li {
		position: relative;

		line-height: 1.5em;
		white-space: nowrap;

		z-index: 3;

		&::after {
			width: 0.75em;
			height: 1px;
			margin-top: -1px;

			display: block;

			position: absolute;
			top: 0.75em;
			left: -1.25em;

			border: #CCC solid;
			border-width: 0 0 1px 1px;

			content: "";

			z-index: 1;
		}

		&:last-child::before {
			bottom: 50%;
		}
	}

	> li::after {
		display: none;
	}

	&.interactive {
		padding-left: 1.75em;

		position: relative;

		&::before {
			display: block;

			position: absolute;
			top: 0.75em;
			bottom: 0.75em;
			left: 0.5em;

			border-left: 1px #CCC solid;

			content: "";

			z-index: 1;
		}

		> li::after {
			display: block;
		}

		ul {
			height: 0;

			overflow: hidden;

			&::after {
				width: 0.8em;
				height: 0.8em;
				margin-top: -1px;
				margin-left: -1px;

				display: block;

				position: absolute;
				top: 0.35em; //(1.5 - height) / 2
				left: -1.65em; //1.25 + (width / 2)

				color: #999;
				font-weight: 400;
				text-align: center;
				line-height: 0.8em;

				background-color: #FFF;

				border: 1px #CCC solid;

				content: "+";

				z-index: 2;
			}

			&.open {
				height: auto;

				overflow: visible;

				&::after {
					content: "-";
				}
			}
		}

		li {
			cursor: default;
		}

		a {
			text-decoration: none;

			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}