/* ===================================================== LISTS ===================================================== */
ul,
ol,
dl {
	margin-bottom: 1.5em;

	@include basefontsize;

	&.large {
		font-size: #{$baseFontSize * 1.09}em;
	}
}

li,
dd {
	> ul,
	> ol,
	> dl,
	> p,
	> pre,
	> label,
	> input,
	> select,
	> textarea,
	> button {
		font-size: 1em;
	}

	> ul,
	> ol,
	> dl,
	> p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

ul,
ol {
	margin-left: 2em;

	&.plain,
	&.lined {
		margin: 0;

		list-style: none;

		ul,
		ol {

			list-style: none;
		}

		ol {
			list-style: decimal inside;
		}

		li {
			line-height: normal;
		}
	}

	&.lined {
		margin-bottom: 1.5em;

		border-bottom: 1px $borderLightGrey solid;

		li {
			margin-bottom: 0.35em;
			padding: 0.35em 0 0;

			text-indent: 0.5em;

			border-top: 1px $borderLightGrey solid;
		}

		ul,
		ol {
			margin-top: 0.35em;
			margin-left: 0;
			padding-left: 1em;

			border-top: 1px $borderLightGrey solid;

			> :first-child {
				border-top: none;
			}
		}
	}
}

ol {
	&.lined {
		list-style: decimal inside;
	}
}

	li {
		@include basefontlineheight;
	}

dl {
	padding-bottom: 0.5em;

	border-bottom: 1px $borderLightGrey solid;

	dl {
		margin-bottom: 0;
		padding-bottom: 0;

		border-bottom: none;
	}

	&.inline {
		overflow: hidden;

		&.bias-none {
			> dt,
			> dd + dd,
			> dd {
				width: 50%;
			}
		}

		&.bias-left {
			> dt {
				width: 75%;
			}

			> dd {
				width: 25%;
			}

			> dd + dd {
				margin-left: 75%;
			}
		}

		&.bias-right {
			> dt {
				width: 25%;
			}

			> dd {
				width: 75%;
			}

			> dd + dd {
				margin-left: 25%;
			}
		}
	}

	&.bold-right {
		> dt {
			font-weight: 400;
		}

		> dd {
			font-weight: 700;
		}
	}

	&.plain {
		border: none;

		dt,
		dd {
			border: none !important;
		}
	}
}

	dt,
	dd {
		line-height: 1.35;
	}

	dt {
		font-weight: 700;
	}

	dt,
	dl.inline > dt,
	dl.inline > dd {
		margin-top: 0.5em;
		padding-top: 0.5em;

		border-top: 1px $borderLightGrey solid;
	}

	dl dl dt,
	dl dl.inline > dt,
	dl dl.inline > dd {}

	dl dl dt:first-child,
	dl dl dt:first-child + dd {
		padding-top: 0;

		border-top: none;
	}

	dl.inline > dt:first-child,
	dl.inline > dt:first-child + dd {
		margin-top: 0;
	}

	dt:first-child {
		margin-top: 0;
	}

	dd {}

	dl.inline > dt,
	dl.inline > dd {
		display: block;

		float: left;
	}

	dl.inline > dt {
		width: 38.2%;

		clear: both;
	}

	dl.inline > dd {
		width: 61.8%;
	}

	dl.inline > dd + dd {
		margin-left: 38.2%;
	}

	dd ul {
		margin-left: 0;

		list-style: none;
	}

ul.inline {
	margin-left: 0;

	overflow: hidden;

	li {
		padding: 0 1px;

		display: inline-block;

		float: left;

		white-space: nowrap;

		+ li::before {
			padding: 0 0.5em;

			display: inline-block;

			color: #999;

			content: "|";
		}
	}

	&.breadcrumbs {
		li {
			&:first-child {
				font-weight: 700;
			}

			+ li::before {
				color: #999;
				font-size: 150%;
				font-weight: 200;
				line-height: 0.75;
				vertical-align: text-top;

				content: "\203A";
			}
		}
	}
}

ul.tabs {
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 0;
	padding: 1px 0.25em 0;

	position: relative;

	overflow-x: auto;
	overflow-y: hidden;

	white-space: nowrap;

	background-color: #FFF;

	border-color: $borderGrey;

	-webkit-transition: border ease 200ms;
	//-moz-transition: border ease 200ms;
	//-ms-transition: border ease 200ms;
	//-o-transition: border ease 200ms;
	transition: border ease 200ms;

	li {
		margin: 0 0.25em;

		display: inline-block;

		position: relative;

		white-space: nowrap;
		vertical-align: bottom;

		background-color: inherit;

		border-width: 1px 1px 0;
		border-color: transparent;
		border-style: solid;
		border-radius: $borderRadius $borderRadius 0 0;

		z-index: 1;

		a,
		span {
			padding: 0.5em 1em 0.65em;

			display: block;

			font-weight: 400;
			line-height: 1;
			white-space: nowrap;

			border-radius: ($borderRadius - 1) ($borderRadius - 1) 0 0;
		}

		a {
			color: $baseTextColour;
			text-decoration: none;

			&:hover {
				color: $baseLinkHoverColour;
			}

			&:active {
				color: $baseLinkActiveColour;
			}
		}

		&.primary {
			a,
			span {
				font-weight: 700;
			}
		}

		&.current {
			margin-top: 0;

			border-color: inherit;

			z-index: 3;

			a {
				color: $baseTextColour;
			}

			&::after {
				height: 1px;

				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;

				background-color: inherit;

				content: "";
			}
		}

		&.disabled {
			a,
			span {
				color: #AAA;

				cursor: text;
			}
		}
	}

	&.grad {
		li {
			border-color: inherit;

			a {
				box-shadow: inset 0 -0.75em 1.5em -0.75em rgba(0, 0, 0, 0.15);
			}

			&.current {
				background-color: inherit;

				a {
					box-shadow: none;
				}
			}

			&.disabled {
				border-color: #DDD;

				a {
					border-top-color: #EEE;
				}
			}
		}
	}

	&::before {
		width: 100%;
		height: 1px;

		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: $borderGrey;

		-webkit-transition: background ease 200ms;
		//-moz-transition: background ease 200ms;
		//-ms-transition: background ease 200ms;
		//-o-transition: background ease 200ms;
		transition: background ease 200ms;

		z-index: 2;

		content: "";
	}

	&::after {
		width: 100%;
		height: 0;

		display: block;
		visibility: hidden;

		overflow: hidden;

		clear: both;

		content: "";
	}

	&.react {
		border-color: $borderLightGrey;

		&::before {
			background-color: $borderLightGrey;
		}

		&:hover {
			border-color: $borderGrey;

			-webkit-transition: border ease 50ms;
			//-moz-transition: border ease 50ms;
			//-ms-transition: border ease 50ms;
			//-o-transition: border ease 50ms;
			transition: border ease 50ms;

			&::before {
				background-color: $borderGrey;

				-webkit-transition: background ease 50ms;
				//-moz-transition: background ease 50ms;
				//-ms-transition: background ease 50ms;
				//-o-transition: background ease 50ms;
				transition: background ease 50ms;
			}
		}
	}
}

ul.tree {
	margin-left: 1em;

	list-style: none;

	ul {
		margin-left: 0;
		padding-left: 2em;

		list-style: none;

		&::before {
			display: block;

			position: absolute;
			top: 1.5em;
			bottom: 0.875em;
			left: 0.75em;

			border-left: 1px $borderLightGrey solid;

			content: "";

			z-index: 1;
		}
	}

	li {
		position: relative;

		@include basefontlineheight;
		white-space: nowrap;

		z-index: 3;

		&::after {
			width: 0.75em;
			height: 1px;
			margin-top: -1px;

			display: block;

			position: absolute;
			top: 0.75em;
			left: -1.25em;

			border: $borderLightGrey solid;
			border-width: 0 0 1px 1px;

			content: "";

			z-index: 1;
		}

		&:last-child::before {
			bottom: 50%;
		}
	}

	> li::after {
		display: none;
	}

	/*&.interactive {
		padding-left: 1.75em;

		position: relative;

		&::before {
			display: block;

			position: absolute;
			top: 0.75em;
			bottom: 0.75em;
			left: 0.5em;

			border-left: 1px $borderLightGrey solid;

			content: "";

			z-index: 1;
		}

		> li::after {
			display: block;
		}

		ul {
			height: 0;

			overflow: hidden;

			&::after {
				width: 0.8em;
				height: 0.8em;
				margin-top: -1px;
				margin-left: -1px;

				display: block;

				position: absolute;
				top: 0.35em; //(1.5 - height) / 2
				left: -1.65em; //1.25 + (width / 2)

				color: #999;
				font-weight: 400;
				text-align: center;
				line-height: 0.8;

				background-color: #FFF;

				border: 1px $borderLightGrey solid;

				content: "+";

				z-index: 2;
			}

			&.open {
				height: auto;

				overflow: visible;

				&::after {
					content: "-";
				}
			}
		}

		li {
			cursor: default;
		}

		a {
			text-decoration: none;

			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}*/
}