/* ===================================================== OTHER ===================================================== */
hr {
	width: 100%;
	height: 1px;
	margin: 1.5em 0;

	display: inline-block;

	clear: both;

	font-size: 1.3em;
	line-height: 1.25em;

	//background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFF), color-stop(0.25, #CCC),  color-stop(0.75, #CCC), color-stop(1, #FFF));
	background-image: -webkit-linear-gradient(right, #FFF 0%, #CCC 25%, #CCC 75%, #FFF 100%);
	background-image: -moz-linear-gradient(right, #FFF 0%, #CCC 25%, #CCC 75%, #FFF 100%);
	background-image: -ms-linear-gradient(right, #FFF 0%, #CCC 25%, #CCC 75%, #FFF 100%);
	background-image: -o-linear-gradient(right, #FFF 0%, #CCC 25%, #CCC 75%, #FFF 100%);
	background-image: linear-gradient(to right, #FFF 0%, #CCC 25%, #CCC 75%, #FFF 100%);
	background-color: #CCC;

	border: none;
}

p {
	+ hr {
		margin-top: 1em;
	}
}

ul,
ol,
dl {
	+ hr {
		margin-top: 0;
	}
}

/* ===================================================== GENERIC CLASSES ===================================================== */
.float-right,
.float-left {
	display: inline-block;
}

.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}

.float-none {
	float: none !important;
}

.clear-right {
	clear: right !important;
}

.clear-left {
	clear: left !important;
}

.clear-none {
	clear: none !important;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

.align-center {
	text-align: center !important;
}

.align-justify {
	text-align: justify !important;
}

.no-top-margin {
	margin-top: 0 !important;
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

.no-vertical-margin {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.no-top-padding {
	padding-top: 0 !important;
}

.no-bottom-padding {
	padding-bottom: 0 !important;
}

.no-vertical-padding {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.no-vertical-spacing {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* ===================================================== NOTICES ===================================================== */
.error,
.warning,
.notice,
.success {
	min-height: 16px;
	margin-bottom: 10px;
	padding: 10px;

	position: relative;

	border: 1px #000 solid;
	border-radius: 3px;

	> :first-child {
		margin-top: 0;
		padding-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

p.error,
p.warning,
p.notice,
p.success {
	padding: 0.25em 0.5em;
}

.error {
	background-color: rgba(204, 0, 0, 0.2);

	border-color: #C00;

	&.solid-bg {
		background-color: #F4CBCB;
	}
}

.warning {
	background-color: rgba(255, 204, 0, 0.2);

	border-color: #FC0;

	&.solid-bg {
		background-color: #FEF4CB;
	}
}

.notice {
	background-color: rgba(0, 102, 204, 0.2);

	border-color: #06C;

	&.solid-bg {
		background-color: #CBDFF4;
	}
}

.success {
	background-color: rgba(0, 204, 0, 0.2);

	border-color: #0C0;

	&.solid-bg {
		background-color: #CBF4CB;
	}
}