/* ===================================================== RUMMAGE ===================================================== */
.rummage-searching {
	tr {
		background-color: transparent;

		&.disabled {
			background-color: #F4F4F4;
		}
	}
}

/* ===================================================== TINYMCE ===================================================== */
.mce-tinymce {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	button {
		margin-top: 0 !important;

		font-size: 10px;

		border-radius: 0;

		&:hover {
			box-shadow: none;
		}
	}
}

form.block {
	label {
		+ .mce-tinymce {
			clear: both;
		}
	}
}

form.inline {
	label {
		+ .mce-tinymce {
			width: 75%;
			margin: 0.2em 0;

			float: right;
		}
	}
}

@media screen and (max-width: $intTabletSmall - 1) {
	form.inline.foldable {
		label {
			+ .mce-tinymce {
				width: auto;

				float: none;

				clear: both;
			}
		}
	}
}