/* ===================================================== TABLES ===================================================== */
table {
	width: 100%;
	margin-bottom: 20px;

	background-color: rgba(255, 255, 255, 0.85);

	border: 1px #CCC solid;
	border-radius: 3px;
	border-collapse: collapse;

	a {
		color: #222;
		font-style: normal;
	}

	p,
	ul,
	ol,
	label {
		font-size: 1em;
	}

	p {
		margin: 5px 0;
	}

	ul {
		margin-left: 15px;
	}

	button {
		font-size: 1.16666em;
	}
}

	thead {
		font-family: Helvetica, Arial, Tahoma, sans-serif;
		font-weight: 800;
		font-size: 1.3em;

		@include grad(#EEE, #D8D8D8);
	}

	tbody,
	tfoot {
		font-size: 1.2em;
	}

		tbody {
			tr {
				&:nth-child(even) {
					background-color: #EEE;
				}

				&.disabled {
					color: #AAA;

					background-color: #F4F4F4;
				}

				&.highlight-fade {
					th,
					td {
						-webkit-animation: highlight-fade 6s;
						-moz-animation: highlight-fade 6s;
						-ms-animation: highlight-fade 6s;
						-o-animation: highlight-fade 6s;
						animation: highlight-fade 6s;
					}
				}
			}
		}

			tr.highlight,
			.highlight-on-hover tr:hover {
				background-color: #FFB;
			}

				th,
				td {
					min-width: 5px;
					padding: 5px 10px;

					text-align: left;

					border-width: 1px 0;
					border-color: #CCC;
					border-style: solid;
				}

				th {}

				td {}

@include keyframes(highlight-fade) {
	0% {
		background-color: transparent;
	}

	10% {
		background-color: #FFB;
	}

	75% {
		background-color: #FFB;
	}

	100% {
		background-color: transparent;
	}
}
