/* ===================================================== TABLES ===================================================== */
table {
	width: 100%;
	margin-bottom: #{$baseLineHeight}em;

	clear: both;

	background-color: rgba(255, 255, 255, 0.85);

	border: 1px $borderGrey solid;
	border-radius: 3px;
	border-collapse: collapse;

	a {
		@include basefontcolour;
		font-style: normal;
	}

	p {
		margin: 0.25em 0;

		@include basefontlineheight;
	}

	ul {
		margin-left: 1.5em;
	}

	&.verticals {
		th,
		td {
			border-width: 1px;
		}
	}

	&.plain,
	&.no-horizontals {
		th,
		td {
			border-top-width: 0;
			border-bottom-width: 0;
		}
	}

	&.plain,
	&.no-zebra {
		tbody {
			tr {
				background-color: transparent !important;
			}
		}
	}

	&.highlight-on-hover {
		tfoot,
		tbody {
			tr {

				-webkit-transition: background ease 200ms;
				-moz-transition: background ease 200ms;
				-ms-transition: background ease 200ms;
				-o-transition: background ease 200ms;
				transition: background ease 200ms;

				&:hover {
					background-color: $hoverTable;

					-webkit-transition: background ease 50ms;
					-moz-transition: background ease 50ms;
					-ms-transition: background ease 50ms;
					-o-transition: background ease 50ms;
					transition: background ease 50ms;
				}
			}
		}
	}

	&.large {
		font-size: 1.25em;
	}
}

	thead {
		font-family: Helvetica, Arial, Tahoma, sans-serif;
		font-weight: 700;
		@include basefontsize;

		background-color: $headerGrey;

		&.large {
			font-size: #{$baseFontSize * 1.25}em;
		}

		p,
		ul,
		ol,
		button,
		.button {
			font-size: 1em;
		}
	}

	tfoot,
	tbody {
		font-size: 1.25em;

		&.large {
			font-size: 1.5625em;
		}

		p,
		ul,
		ol,
		button,
		.button {
			font-size: #{$baseFontSize / 1.25}em;
		}
	}

		tbody {
			tr {
				&:nth-child(even) {
					background-color: $bgLightGrey;
				}

				&.disabled {
					> * {
						opacity: 0.2;
					}
				}

				&.highlight-fade {
					th,
					td {
						-webkit-animation: highlight-fade 6s;
						-moz-animation: highlight-fade 6s;
						-ms-animation: highlight-fade 6s;
						-o-animation: highlight-fade 6s;
						animation: highlight-fade 6s;
					}
				}
			}
		}

			tr.highlight {
				background-color: $highlightTable;
			}

				th,
				td {
					padding: 0.5em 0.75em;

					text-align: left;

					border-width: 1px 0;
					border-color: $borderGrey;
					border-style: solid;

					&.no-padding {
						padding: 0;
					}

					&.no-padding-x {
						padding-right: 0;
						padding-left: 0;
					}

					&.no-padding-y {
						padding-top: 0;
						padding-bottom: 0;
					}
				}

table,
tr {
	&.no-padding {
		th,
		td {
			padding: 0;
		}
	}

	&.no-padding-x {
		th,
		td {
			padding-right: 0;
			padding-left: 0;
		}
	}

	&.no-padding-y {
		th,
		td {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

form {
	table {
		label,
		input {
			font-size: 1em;
		}
	}
}

@include keyframes(highlight-fade) {
	0% {
		background-color: transparent;
	}

	10% {
		background-color: $highlightTable;
	}

	75% {
		background-color: $highlightTable;
	}

	100% {
		background-color: transparent;
	}
}