/* ===================================================== TEXT ===================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0.75em 0;

	line-height: 1em;
	font-weight: 700;
	page-break-after: avoid;

	&.no-top-padding {
		line-height: 1em;
	}

	&.no-bottom-padding {
		padding-bottom: 0.125em !important;
	}

	&.no-vertical-padding {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

h1 {
	font-size: #{1.33 * exponent(1.2, 6)}em;
}

h2 {
	font-size: #{1.33 * exponent(1.2, 5)}em;
}

h3 {
	font-size: #{1.33 * exponent(1.2, 4)}em;
}

h4 {
	font-size: #{1.33 * exponent(1.2, 3)}em;
}

h5 {
	font-size: #{1.33 * exponent(1.2, 2)}em;
}

h6 {
	font-size: #{1.33 * exponent(1.2, 1)}em;
}

p {
	padding: 0 0 #{$baseLineHeight / 2}em;

	@include basefontsize;
	@include basefontlineheight;
	font-weight: 300;

	word-break: normal;

	orphans: 3;
	widows: 3;
}

.hyphenate {
	p {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
}

small {
	font-size: 0.85em;
	vertical-align: baseline;
	line-height: inherit;
}

pre,
code {
	margin-bottom: 1em;

	display: block;

	font-family: "Courier New", Courier, monospace, mono;
	font-weight: 400;
	line-height: 1.25em;
	white-space: pre-wrap;
}

pre {
	@include basefontsize;
}

code {
	font-size: 1em;
}

code,
pre.code {
	position: relative;

	overflow: auto;

	color: #333;
	white-space: pre;

	background-color: #F4F4F4;

	border: 1px #CCC solid;
	border-radius: 3px;
}

pre.code {
	padding: 1em;

	em {
		font-style: normal;
		//font-weight: 700;

		background-color: #FF9;

		//box-shadow: 0 0 5px #FF9;
		box-shadow: 0 0 0 1px #FF9;

		border-radius: 3px;
	}

	&[title] {
		padding-top: 3em;

		&::before {
			padding: 0.25em 0.75em;

			position: absolute;
			top: 0;
			right: 0;
			left: 0;

			color: #FFF;
			@include basefontface;
			font-weight: 700;
			line-height: 1.5em;
			white-space: nowrap;

			background-color: #CCC;

			content: attr(title);
		}
	}

	&[lang] {
		&::after {
			height: 1.5em;
			padding: 0 0.5em;

			position: absolute;
			top: 0.25em;
			right: 0.25em;

			color: #FFF;
			@include basefontface;
			font-weight: 400;
			line-height: 1.5em;
			text-transform: uppercase;

			background-color: #CCC;

			border-radius: 3px;

			content: attr(lang);
		}

		&[title]::after {
			padding: 0;

			right: 0.75em;

			background-color: transparent;
		}
	}

	&.dark {
		color: #FFF;

		background-color: #222;

		em {
			color: #222;
		}
	}
}

p,
li,
dl,
table {
	code {
		margin: 0 0.1em;
		display: inline-block;

		font-weight: 400;
		vertical-align: bottom;
		line-height: inherit;
		white-space: nowrap;

		border: none;
		border-radius: 0;
		outline: 1px #CCC solid;
	}
}

blockquote {
	margin: 0.25em 0.5em 0.75em;
	padding: 0.25em 0.25em 0.25em 1em;

	color: #555;
	font-size: 1.55em;
	font-weight: 300;
	line-height: 1.75em;
	white-space: pre-wrap;

	border-left: 0.35em #CCC solid;

	p {
		margin-bottom: 0;

		font-size: 1em;
		line-height: 0.74em;
	}
}

sup,
sub {
	position: relative;
	top: -0.4em;

	font-size: 0.75em;
	vertical-align: baseline;
}

sub {
	top: 0.4em;
}

em {
	font-style: italic;
}

.superheavyweight {
	font-weight: 900;
}

strong,
.heavyweight {
	font-weight: 700;
}

.mediumweight {
	font-weight: 400;
}

.lightweight {
	font-weight: 300;
}

.superlightweight {
	font-weight: 100;
}