/* ===================================================== TEXT ===================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0.75em 0;

	line-height: 1;
	font-weight: 700;
	white-space: pre-wrap;
	page-break-after: avoid;

	&.no-top-padding {
		line-height: 1;
	}

	&.no-bottom-padding {
		padding-bottom: 0.125em !important;
	}

	&.no-vertical-padding {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	&.dark {
		margin: 0.25em 0;
		padding: 0.5em;

		color: #FFF;

		background-color: #455A64;
	}
}

h1 {
	font-size: #{base-font(size) * exponent(1.2, 6)}em;
}

h2 {
	font-size: #{base-font(size) * exponent(1.2, 5)}em;
}

h3 {
	font-size: #{base-font(size) * exponent(1.2, 4)}em;
}

h4 {
	font-size: #{base-font(size) * exponent(1.2, 3)}em;
}

h5 {
	font-size: #{base-font(size) * exponent(1.2, 2)}em;
}

h6 {
	font-size: #{base-font(size) * exponent(1.2, 1)}em;
}

p {
	padding: 0 0 #{base-font(line-height) / 2}em;

	@include base-font-size;
	@include base-font-line-height;

	word-break: normal;

	orphans: 3;
	widows: 3;
}

.hyphenate {
	p {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
}

small {
	font-size: 0.85em;
	vertical-align: baseline;
	line-height: inherit;
}

pre,
code {
	margin-bottom: 1em;

	display: block;

	@include base-mono-font-face;
	line-height: base-mono-font(line-height);
	font-weight: base-mono-font(font-weight);
	white-space: pre-wrap;
}

pre {
	@include base-font-size;
}

code {
	font-size: 1em;
}

code,
pre.code {
	position: relative;

	overflow: auto;

	color: base-font(colour);
	white-space: pre;

	background-color: $bgLightGrey;

	border: 1px $border-colour solid;
	border-radius: $border-radius;
}

pre.code {
	padding: 1em;

	em {
		font-style: normal;

		background-color: $highlight;

		box-shadow: 0 0 0 1px $highlight;

		border-radius: $border-radius;
	}

	&[title] {
		padding-top: 3em;

		&::before {
			padding: 0.25em 0.75em;

			position: absolute;
			top: 0;
			right: 0;
			left: 0;

			color: blackorwhite(table-colour(header));
			@include base-font-face;
			font-weight: 700;
			line-height: 1.5;
			white-space: nowrap;

			background-color: table-colour(header);

			border-bottom: 1px $border-colour solid;

			content: attr(title);
		}
	}

	&[lang] {
		&::after {
			height: 1.5em;
			padding: 0 0.5em;

			position: absolute;
			top: 0.25em;
			right: 0.25em;

			color: if(lightness($border-colour) > 50, base-font(colour), #FFF);
			@include base-font-face;
			line-height: 1.5;
			text-transform: uppercase;

			background-color: table-colour(header);

			border-radius: $border-radius;

			content: attr(lang);
		}

		&[title]::after {
			padding: 0;

			right: 0.75em;

			background-color: transparent;
		}
	}

	&.dark {
		color: #FFF;

		background-color:base-font(colour);

		border: none;

		em {
			color: base-font(colour);
		}
	}
}

p,
li,
dl,
table {
	code {
		margin: 0 0.1em;
		display: inline-block;

		vertical-align: bottom;
		line-height: inherit;
		white-space: nowrap;

		border: none;
		border-radius: 0;
		outline: 1px $border-colour solid;
	}
}

.underline {
	//@include slim-underline;
	text-decoration: underline;
	text-decoration-skip: ink;
}

blockquote {
	margin: 0.5em 1em 1em;
	padding: 3em 1.25em 0.5em;

	position: relative;

	color: base-font(colour);
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.75;
	//white-space: pre-wrap;

	border-left: 0.3em base-font(colour) solid;

	quotes: "“" "”" "‘" "’";

	&::before {
		position: absolute;
		top: 0.05em;
		left: 0.27777em;

		font-size: 4.5em;
		font-weight: 700;
		line-height: 1;

		content: open-quote;
	}

	&::after {
		color: transparent;
		font-size: 0;
		line-height: 0;

		content: close-quote;
	}

	&.subtle {
		padding-top: 0.5em;

		background-color: $bgLightGrey;

		border-left-color: $border-colour;

		&::before,
		&::after {
			display: none;
		}
	}

	p {
		padding-bottom: 0;

		font-size: 1em;
	}
}

sup,
sub {
	position: relative;
	top: -0.4em;

	font-size: 0.75em;
	vertical-align: baseline;
}

sub {
	top: 0.4em;
}

em {
	font-style: italic;
}

a {
	color: anchor-colour(base);

	&:visited {
		color: anchor-colour(visited);
	}

	&:hover {
		color: anchor-colour(hover);
	}

	&:active {
		color: anchor-colour(active);
	}
}

.superheavyweight {
	font-weight: 900 !important;
}

strong {
	font-weight: base-font(bold-weight);
}

.bold,
.heavyweight {
	font-weight: 700 !important;
}

.mediumweight,
.middleweight {
	font-weight: 400 !important;
}

.lightweight,
.featherweight {
	font-weight: 300 !important;
}

.superlightweight,
.flyweight {
	font-weight: 100 !important;
}