/* ===================================================== TEXT ===================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.5em 0 1em;

	font-weight: 800;
	line-height: 1.25em;
	page-break-after: avoid;

	&.mediumweight {
		font-weight: 400;
	}

	&.lightweight {
		font-weight: 300;
	}
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.75em;
}

h6 {
	font-size: 1.5em;
}

p {
	margin-bottom: 0.5em;

	font-size: 1.3em;
	font-weight: 300;
	line-height: 1.5em;

	word-break: normal;

	orphans: 3;
	widows: 3;
}

.hyphenate {
	p {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
}

small {
	font-size: 0.75em;
	vertical-align: baseline;
}

pre,
code {
	margin-bottom: 1em;

	display: block;

	font-family: "Courier New", Courier, monospace, mono;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1.25em;
	white-space: pre-wrap;
}

code,
pre.code {
	padding: 1em;

	position: relative;

	overflow: auto;

	white-space: pre;

	background-color: #EEE;

	border: 1px #CCC solid;
	border-radius: 3px;
}

pre.code {
	em {
		font-style: normal;
		font-weight: 800;

		background-color: #FF9;
	}

	&[title] {
		padding-top: 2.5em;

		&::before {
			padding: 0 0.75em;

			position: absolute;
			top: 0;
			right: 0;
			left: 0;

			color: #FFF;
			@include basefontface;
			font-weight: 800;
			line-height: 1.5em;
			white-space: nowrap;

			background-color: #CCC;

			content: attr(title);
		}
	}

	&[lang] {
		&::after {
			height: 1.5em;
			padding: 0 0.5em;

			position: absolute;
			top: 0;
			right: 0.5em;

			color: #FFF;
			@include basefontface;
			font-weight: 400;
			line-height: 1.5em;
			text-transform: uppercase;

			background-color: #CCC;

			border-radius: 0 0 3px 3px;

			content: attr(lang);
		}

		&[title]::after {
			padding: 0;

			right: 0.75em;

			background-color: transparent;
		}
	}
}

p code {
	margin: 0 0.1em;
	padding: 0;
	display: inline-block;

	font-size: 1em;
	font-weight: 400;
	vertical-align: bottom;
	line-height: inherit;
	white-space: nowrap;

	border: none;
	border-radius: 0;
	outline: 1px #CCC solid;
}

blockquote {
	margin: 0.25em 0.5em 0.75em;
	padding: 0.25em 0.25em 0.25em 1em;

	color: #555;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.25em;
	white-space: pre-wrap;

	border-left: 0.35em #CCC solid;

	p {
		margin-bottom: 0;

		font-size: 1em;
		line-height: 0.74em;
	}
}

sup,
sub {
	position: relative;
	top: -0.4em;

	font-size: 0.75em;
	vertical-align: baseline;
}

sub {
	top: 0.4em;
}

strong {
	font-weight: 800;
}

em {
	font-style: italic;
}